.main-header.menu-minimized .header-wrapper {
  height: 60px;
  background: black;
}
.main-header.menu-minimized .header-wrapper .header-links {
  top: 10px;
}
.main-header.menu-minimized .header-wrapper .megamenu {
  margin-top: 60px;
}
.main-header.menu-minimized .header-wrapper .logo {
  top: 0;
}
.main-header.menu-minimized .header-wrapper .logo .name {
  opacity: 1;
}
.main-header.menu-minimized .header-wrapper .logo .symbol {
  opacity: 0;
}
.main-header.candidate .header-wrapper {
  background: transparent;
}
.main-header.candidate .header-links.employer {
  display: none;
}
.main-header.candidate .header-links {
  background: transparent;
}
.main-header.employer .header-links.candidate {
  display: none;
}
.header-wrapper {
  display: flex;
  position: fixed;
  width: 100%;
  height: 100px;
  flex-direction: column;
  z-index: 3;
  overflow: hidden;
  background: rgba(0, 0, 0, 0.2);
  -webkit-backdrop-filter: blur(5px);
  transition: 0.3s cubic-bezier(0.65, 0.01, 0.32, 1);
}
.header-wrapper .logo {
  display: block;
  position: absolute;
  width: 160px;
  heigh: 60px;
  top: 20px;
  left: 15px;
  align-self: flex-center;
  margin-left: 20px;
  transition: 0.3s cubic-bezier(0.65, 0.01, 0.32, 1);
}
.header-wrapper .logo .name {
  opacity: 0.4;
  width: 90px;
  padding-top: 20px;
  margin-right: 20px;
  float: left;
  transition: 0.3s cubic-bezier(0.65, 0.01, 0.32, 1);
}
.header-wrapper .logo .symbol {
  height: 50px;
  float: right;
  transition: 0.3s cubic-bezier(0.65, 0.01, 0.32, 1);
}
.header-wrapper .header-links {
  display: flex;
  position: absolute;
  right: 20px;
  top: 30px;
  opacity: 1;
  align-items: center;
  margin-right: 20px;
  transition: 0.3s cubic-bezier(0.65, 0.01, 0.32, 1);
}
.header-wrapper .header-links a {
  color: white;
  font-size: 0.8em;
  color: #FFFFFF;
  font-weight: 500;
  letter-spacing: 0.73px;
  padding: 0 2em;
  opacity: 0.6;
  transition: 0.1s ease;
  cursor: pointer;
  text-transform: uppercase;
  animation-duration: 0.5s;
  animation-fill-mode: both;
  text-decoration: none;
}
.header-wrapper .header-links a.mega-link::before {
  content: "";
  display: block;
  width: 20px;
  height: 15px;
  float: left;
  background-repeat: no-repeat;
  background-position: center;
  opacity: 1;
  transform: rotate(90deg);
  transition: 0.2s ease;
  background-image: url("/files/icons/arrow-right-white.svg");
}
.header-wrapper .header-links a.active {
  opacity: 1;
}
.header-wrapper .header-links a:hover {
  opacity: 1;
}
.header-wrapper .header-links .button {
  display: flex;
  align-items: center;
  border-radius: 100px;
  height: 3em;
  opacity: 1;
  box-sizing: border-box;
  padding: 0px 20px;
  justify-content: center;
}
.header-wrapper .header-links .button.signup {
  background: #75C20F;
}
.header-wrapper .header-links .button.login {
  border: 1px solid white;
  margin-left: 10px;
}
.header-wrapper .header-buttons {
  display: flex;
}
.header-wrapper .menu-button {
  position: absolute;
  top: 20px;
  right: 20px;
  width: 20px;
  display: none;
  height: 20px;
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  cursor: pointer;
  background-image: url("/files/icons/menu.svg");
}
@-webkit-keyframes slide-down {
  0% {
    opacity: 0;
    transform: translate3d(0px, -20px, 0px);
  }
  100% {
    opacity: 1;
    transform: translate3d(0px, 0px, 0px);
  }
}
.header-wrapper .megamenu {
  display: flex;
  height: 0px;
  width: 100%;
  z-index: -1;
  transition: 0.3s cubic-bezier(0.65, 0.01, 0.32, 1);
  overflow: hidden;
  justify-content: center;
  pointer-events: none;
  background: white;
  margin-top: 100px;
  border-bottom: 1px solid rgba(0, 0, 0, 0.09);
}
.header-wrapper .megamenu .links-group {
  animation-duration: 0.5s;
  animation-fill-mode: both;
  padding-top: 22px;
}
.header-wrapper .megamenu .links-group a::before {
  display: none;
}
.header-wrapper .megamenu .links-group a {
  transition: 0.2s ease;
  cursor: pointer;
  font-weight: 300;
}
.header-wrapper .megamenu .links-group a:hover {
  transform: translate3d(5px, 0px, 0px);
}
.header-wrapper .megamenu .back {
  color: white;
  display: none;
}
.header-wrapper .megamenu h3 {
  font-weight: 400;
  font-size: 1em;
  opacity: 0.4;
  text-transform: uppercase;
}
.header-wrapper.menu-active {
  height: 400px;
  background: rgba(0, 0, 0, 0.85);
}
.header-wrapper.menu-active .header-links {
  opacity: 1;
  pointer-events: all;
}
.header-wrapper.menu-active .header-links a.link01 {
  animation-name: slide-down;
  animation-delay: 0.1s;
}
.header-wrapper.menu-active .header-links a.link02 {
  animation-name: slide-down;
  animation-delay: 0.2s;
}
.header-wrapper.menu-active .header-links a.link03 {
  animation-name: slide-down;
  animation-delay: 0.3s;
}
.header-wrapper.menu-active .header-links a.link04 {
  animation-name: slide-down;
  animation-delay: 0.4s;
}
.header-wrapper.megamenu-active {
  background: black;
  height: 330px !important;
}
.header-wrapper.megamenu-active a.mega-link {
  opacity: 1;
  color: #ffa900;
}
.header-wrapper.megamenu-active a.mega-link::before {
  opacity: 0.5;
  transform: rotate(0deg);
}
.header-wrapper.megamenu-active .megamenu {
  height: 100%;
  pointer-events: all;
}
.header-wrapper.megamenu-active .megamenu .links-group.first {
  animation-name: slide-down;
  animation-delay: 0.1s;
}
.header-wrapper.megamenu-active .megamenu .links-group.second {
  animation-name: slide-down;
  animation-delay: 0.2s;
}
.header-wrapper.megamenu-active .megamenu .links-group.third {
  animation-name: slide-down;
  animation-delay: 0.3s;
}
/* ----------- Tablet ----------- */
/* Portrait and Landscape */
@media only screen and (min-width: 0px) and (max-width: 980px) {
  .header-wrapper {
    height: 60px;
    flex-direction: column;
  }
  .header-wrapper .logo {
    top: 3px;
  }
  .header-wrapper .logo .symbol {
    opacity: 0;
  }
  .header-wrapper .logo .name {
    opacity: 1;
  }
  .header-wrapper .menu-button {
    display: block;
  }
  .header-wrapper .header-links {
    opacity: 0;
    flex-direction: column;
    width: 100%;
    align-items: flex-start;
    padding-bottom: 50px;
    pointer-events: none;
    transform: translate3d(0px, -50px, 0px);
    left: 0px;
    top: 80px;
    z-index: 10;
    overflow-y: scroll;
  }
  .header-wrapper .header-links a {
    font-size: 1em;
    line-height: 3em;
    border-bottom: 1px solid rgba(255, 255, 255, 0.14);
    width: 100%;
    margin-left: 36px;
    padding-left: 0;
  }
  .header-wrapper .links {
    opacity: 0;
  }
  .header-wrapper .header-buttons {
    width: 100%;
    margin-left: -10px;
    padding-top: 40px;
  }
  .header-wrapper .megamenu {
    position: absolute;
    z-index: 0;
    top: 90px;
    left: 0;
    height: 100%;
    opacity: 0;
    z-index: 2;
    background: transparent;
    transform: translate3d(200px, 0, 0);
    margin-top: 0px;
  }
  .header-wrapper.menu-active .header-links {
    transform: translate3d(0px, 0px, 0px);
  }
  .header-wrapper.megamenu-active {
    height: 1200px;
    background: rgba(0, 0, 0, 0.85);
  }
  .header-wrapper.megamenu-active .header-links {
    transform: translate3d(-200px, 0, 0);
    opacity: 0 !important;
  }
  .header-wrapper.megamenu-active .megamenu {
    opacity: 1;
    z-index: 2;
    height: 100%;
    background: none;
    overflow: scroll;
    transform: translate3d(0, 0, 0);
    pointer-events: all;
  }
  .header-wrapper.megamenu-active .megamenu .container a.back {
    position: absolute;
    display: block;
    width: 100%;
    height: 60px;
  }
  .header-wrapper.megamenu-active .logo .symbol {
    opacity: 0;
  }
  .header-wrapper.megamenu-active .logo .name {
    opacity: 1;
  }
}
body.candidate #candidate {
  background-image: url("/files/sky-bg.png");
  background-size: cover;
  background-position: center;
}
body.candidate .skew-toggle {
  display: block;
  background: red;
  position: absolute;
  z-index: 10000;
  cursor: pointer;
}
body.candidate .calculating {
  display: block;
  width: 100%;
  text-align: center;
  height: 150px;
  position: absolute;
  top: 0px;
  bottom: 0;
  left: -33px;
  right: 0;
  font-size: 40px;
  margin: auto;
  color: white;
  opacity: 0;
  transition: 0.3s ease;
}
body.candidate .calculating.active {
  opacity: 1;
}
body.candidate .calculating.gone {
  opacity: 1;
}
body.candidate .container {
  align-items: center;
}
body.candidate .iphone-cover {
  height: 800px;
  margin-left: 45px;
  float: left;
  position: relative;
  z-index: 2;
  box-sizing: border-box;
  animation-fill-mode: backwards;
  animation-timing-function: cubic-bezier(0.29, 0.96, 0.5, 1.02);
}
body.candidate .device {
  width: 500px;
  height: 800px;
  position: absolute;
  z-index: 9;
  background: url("/files/cover-phone-bg.png");
  background-size: auto 700px;
  background-position: 42px 36px;
  background-repeat: no-repeat;
  pointer-events: none;
  transition: 1s cubic-bezier(0.65, 0.01, 0.32, 1);
}
body.candidate .device-front {
  width: 581px;
  height: 1002px;
  position: absolute;
  top: -110px;
  left: -63px;
  opacity: 0;
  transition: 1s cubic-bezier(0.65, 0.01, 0.32, 1);
  z-index: 9;
  background: url("/files/iphone-front.png");
  background-size: auto 1031px;
  background-position: 0px 0px;
  background-repeat: no-repeat;
  pointer-events: none;
  transform: perspective(10000px) scale(0.64) rotateX(-4.3deg) rotateY(45.7deg) rotateZ(-13.2deg);
}
body.candidate #questions {
  padding-top: 100px;
  width: 427px;
  height: 766px;
  transition: 0.6s 0.2s cubic-bezier(0.65, 0.01, 0.32, 1);
  z-index: 0;
  position: absolute;
  pointer-events: none;
}
body.candidate #questions .question1,
body.candidate #questions .question2 {
  position: absolute;
  margin: auto;
  transition: 0.6s cubic-bezier(0.65, 0.01, 0.32, 1);
  padding-left: 40px;
  transform-origin: center;
  display: block;
  pointer-events: all;
}
body.candidate #questions .question2.hidden,
body.candidate #questions .question1.hidden {
  opacity: 0;
  transform: scale(1.3);
  -webkit-filter: blur(5px);
  pointer-events: none;
}
body.candidate #questions .question1.gone {
  opacity: 0;
  transform: scale(0.7);
  -webkit-filter: blur(5px);
  pointer-events: none;
}
body.candidate #questions .question2.gone {
  opacity: 0;
  transform: scale(0.7);
  -webkit-filter: blur(5px);
  pointer-events: none;
}
body.candidate #questions h1 {
  font-family: SanFranciscoText-Light;
  padding: 0px 50px;
  font-size: 30px;
  color: #FFFFFF;
  letter-spacing: 0px;
  line-height: 36px;
  text-align: center;
}
body.candidate #questions hr {
  width: 150px;
  height: 1px;
  border: none;
  background: white;
  opacity: 0.1;
  margin-top: 40px;
  margin-bottom: 50px;
}
body.candidate #questions .button {
  width: 340px;
  height: 65px;
  margin: auto;
  color: white;
  text-align: center;
  font-size: 18px;
  line-height: 65px;
  margin-bottom: 12px;
  background: rgba(0, 0, 0, 0.19);
  border-radius: 8px;
  transition: 0.1s ease;
  cursor: pointer;
}
body.candidate #questions .button:active {
  background: white;
  color: black;
  transform: scale(0.98);
}
body.candidate .skew {
  transform: perspective(10000px) scale(0.64) rotateX(-4.3deg) rotateY(45.7deg) rotateZ(-13.2deg);
}
body.candidate #simulator {
  width: 427px;
  height: 766px;
  background: transparent;
  background-size: cover;
  position: absolute;
  box-sizing: border-box;
  transition: 1s cubic-bezier(0.65, 0.01, 0.32, 1);
}
body.candidate #simulator img.toolbar {
  width: 100%;
  padding: 1%;
  top: 0;
  position: absolute;
  box-sizing: border-box;
  pointer-events: none;
}
body.candidate #simulator img.head {
  position: absolute;
  width: 100%;
  top: 0;
  pointer-events: none;
}
body.candidate #simulator .menu {
  z-index: 1000;
}
body.candidate #simulator .menu .back-button {
  position: absolute;
  width: 60px;
  height: 40px;
  background: url('../files/back.svg');
  background-size: 13px;
  background-repeat: no-repeat;
  background-position: center;
  top: 25px;
  right: 150px;
  opacity: 0;
  transition: 0.3s ease;
}
body.candidate #simulator .menu .match-button {
  position: absolute;
  width: 60px;
  height: 40px;
  background: url('../files/matches.svg');
  background-size: 30px;
  background-repeat: no-repeat;
  background-position: center;
  top: 25px;
  right: 0;
  transition: 0.3s ease;
}
body.candidate #simulator .menu.matches .match-button {
  transform: translate3d(-167px, 0px, 0px);
  opacity: 0;
}
body.candidate #simulator .menu.matches .back-button {
  opacity: 1;
  transform: translate3d(-150px, 0px, 0px);
}
body.candidate #simulator .card {
  width: 100%;
  height: 100%;
  background-size: 88%;
  background-position: center 120px;
  position: absolute;
  background-repeat: no-repeat;
  display: block;
  transition-duration: 0.6s;
  transition-timing-function: cubic-bezier(0.65, 0.01, 0.32, 1);
  opacity: 1;
  cursor: pointer;
}
body.candidate #simulator .card img {
  width: 350px;
  left: 68px;
  top: 153px;
  position: absolute;
  transition: 0.3s ease;
  transition-delay: 1s;
}
body.candidate #simulator .card::before {
  content: 'card';
  position: absolute;
  top: -15px;
  left: 52px;
  font-size: 21px;
  color: white;
  display: none;
}
body.candidate #simulator .card.gone-match {
  transform: translate3d(-650px, 0px, 0px);
  transition-duration: 0.5s;
  opacity: 0;
}
body.candidate #simulator .intro {
  background-image: url('../app/screens/1.png');
}
body.candidate #simulator .intro::before {
  content: '';
}
body.candidate #simulator .job {
  background-image: url('../files/screens/1.png');
}
body.candidate #simulator .job::before {
  content: 'Job';
}
body.candidate #simulator .job2 {
  background-image: url('../files/screens/2.png');
}
body.candidate #simulator .job2::before {
  content: 'Job';
}
body.candidate #simulator .job3 {
  background-image: url('../files/screens/3.png');
}
body.candidate #simulator .job3::before {
  content: 'Job';
}
body.candidate #simulator .job4 {
  background-image: url('../files/screens/4.png');
}
body.candidate #simulator .job4::before {
  content: 'Job';
}
body.candidate #simulator .job5 {
  background-image: url('../files/screens/5.png');
}
body.candidate #simulator .job5::before {
  content: 'Job';
}
body.candidate #simulator .job6 {
  background-image: url('../files/screens/6.png');
}
body.candidate #simulator .job6::before {
  content: 'Job';
}
body.candidate #simulator .job7 {
  background-image: url('../files/screens/7.png');
}
body.candidate #simulator .job7::before {
  content: 'Job';
}
body.candidate #simulator .article {
  background-image: url('../app/screens/2.png');
}
body.candidate #simulator .article::before {
  content: 'Article';
}
body.candidate #simulator .article2 {
  background-image: url('../app/screens/3.png');
}
body.candidate #simulator .article2::before {
  content: 'Article';
}
body.candidate #simulator .article3 {
  background-image: url('../app/screens/4.png');
}
body.candidate #simulator .article3::before {
  content: 'Article';
}
body.candidate #simulator .tweet {
  background-image: url('../app/screens/5.png');
}
body.candidate #simulator .tweet::before {
  content: 'Tweet';
}
body.candidate #simulator .compoll {
  background-image: url('../app/screens/6.png');
}
body.candidate #simulator .compoll::before {
  content: 'Community poll';
}
body.candidate #simulator .compoll2 {
  background-image: url('../app/screens/7.png');
}
body.candidate #simulator .compoll2::before {
  content: 'Community poll';
}
body.candidate #simulator .video {
  background-image: url('../app/screens/8.png');
}
body.candidate #simulator .video::before {
  content: 'Vide';
}
body.candidate #simulator .video2 {
  background-image: url('../app/screens/9.png');
}
body.candidate #simulator .video2::before {
  content: 'Video';
}
body.candidate #simulator .salary {
  background-image: url('../app/screens/10.png');
}
body.candidate #simulator .salary::before {
  content: 'Salary';
}
body.candidate #simulator .salary2 {
  background-image: url('../app/screens/11.png');
}
body.candidate #simulator .salary2::before {
  content: 'Salary';
}
body.candidate #simulator .tictac {
  background-image: url('../app/screens/12.png');
}
body.candidate #simulator .tictac::before {
  content: 'Salary';
}
body.candidate #simulator .tictac2 {
  background-image: url('../app/screens/13.png');
}
body.candidate #simulator .tictac2::before {
  content: 'Tic Tac';
}
body.candidate #simulator .tictac3 {
  background-image: url('../app/screens/14.png');
}
body.candidate #simulator .tictac3::before {
  content: 'Tic Tac';
}
body.candidate #simulator .event {
  background-image: url('../app/screens/15.png');
}
body.candidate #simulator .event::before {
  content: 'Event';
}
body.candidate #simulator .link {
  background-image: url('../app/screens/16.png');
}
body.candidate #simulator .link::before {
  content: 'Link';
}
body.candidate #simulator .git {
  background-image: url('../app/screens/17.png');
}
body.candidate #simulator .git::before {
  content: 'Github';
}
body.candidate #simulator .trends {
  background-image: url('../app/screens/18.png');
}
body.candidate #simulator .trends::before {
  content: 'Trends';
}
body.candidate #simulator .question {
  background-image: url('../app/screens/19.png');
}
body.candidate #simulator .question::before {
  content: 'Question';
}
body.candidate #simulator .question2 {
  background-image: url('../app/screens/20.png');
}
body.candidate #simulator .question2::before {
  content: 'Question';
}
body.candidate #simulator .question3 {
  background-image: url('../app/screens/21.png');
}
body.candidate #simulator .question3::before {
  content: 'Question';
}
body.candidate #simulator .question4 {
  background-image: url('../app/screens/22.png');
}
body.candidate #simulator .question4::before {
  content: 'Question';
}
body.candidate #simulator .match::before {
  content: 'Question';
}
body.candidate #simulator .layer1 {
  z-index: 8;
}
body.candidate #simulator .layer2 {
  width: 100%;
  transform: scale(0.8) translate3d(-329px, -102px, 0px);
  z-index: 7;
  -webkit-filter: blur(4px);
  filter: blur(2px);
  opacity: 0.5;
  pointer-events: none;
  transition-delay: 0.1s;
}
body.candidate #simulator .layer3 {
  width: 100%;
  transform: scale(0.7) translate3d(-688px, -210px, 0px);
  z-index: 6;
  -webkit-filter: blur(7px);
  filter: blur(7px);
  opacity: 0.2;
  pointer-events: none;
  transition-delay: 0.2s;
}
body.candidate #simulator .layer4 {
  width: 100%;
  transform: scale(0.6) translate3d(-1048px, -319px, 0px);
  z-index: 5;
  -webkit-filter: blur(10px);
  filter: blur(10px);
  opacity: 0.1 ;
  pointer-events: none;
  transition-delay: 0.3s;
}
body.candidate #simulator .layer5 {
  width: 100%;
  transform: scale(0.4) translate3d(-1876px, -647px, 0px);
  z-index: 4;
  -webkit-filter: blur(15px);
  filter: blur(15px);
  opacity: 0.05;
  pointer-events: none;
  transition-delay: 0.4s;
}
body.candidate #simulator .layer6 {
  width: 100%;
  transform: scale(0.35) translate3d(-2315px, -821px, 0px);
  z-index: 3;
  -webkit-filter: blur(15px);
  filter: blur(15px);
  opacity: 0.02;
  pointer-events: none;
  transition-delay: 0.5s;
}
body.candidate #simulator .layer7,
body.candidate #simulator .layer8,
body.candidate #simulator .layer9,
body.candidate #simulator .layer10,
body.candidate #simulator .layer11,
body.candidate #simulator .layer12,
body.candidate #simulator .layer13,
body.candidate #simulator .layer14,
body.candidate #simulator .layer15,
body.candidate #simulator .layer16,
body.candidate #simulator .layer17,
body.candidate #simulator .layer18,
body.candidate #simulator .layer19,
body.candidate #simulator .layer20,
body.candidate #simulator .layer21,
body.candidate #simulator .layer22 {
  width: 100%;
  transform: scale(0.6) translate3d(-1458px, -463px, 0px);
  z-index: 3;
  -webkit-filter: blur(15px);
  filter: blur(15px);
  opacity: 0;
  display: none;
  pointer-events: none;
  transition-delay: 0.7s;
}
body.candidate #simulator .out {
  transform: scale(0.6) translate3d(-1058px, -463px, 0px);
  opacity: 0;
}
body.candidate #simulator .going-left {
  transform: rotate(10deg);
  transition: 0.3s transform;
}
body.candidate #simulator .going-right {
  transform: rotate(-10deg);
  transition: 0.3s transform;
}
body.candidate #simulator .card.gone-right {
  transform: rotate(-20deg) translate3d(350px, 30px, 0px);
  opacity: 0;
}
body.candidate #simulator .card.gone-left {
  transform: rotate(20deg) translate3d(-350px, 30px, 0px);
  opacity: 0;
}
body.candidate #simulator .layerLikeDrag {
  width: 100%;
  transform: scale(1) rotate(-5deg) translate3d(100px, 30px, 0px);
  z-index: 3;
  -webkit-filter: blur(0px);
  filter: blur(0px);
  opacity: 0;
}
body.candidate #simulator .layerLike {
  width: 100%;
  transform: scale(1) rotate(-15deg) translate3d(500px, 92px, 0px);
  z-index: 3;
  -webkit-filter: blur(0px);
  filter: blur(0px);
  opacity: 0;
}
body.candidate #simulator .layerDislike {
  width: 100%;
  transform: scale(1) rotate(15deg) translate3d(-500px, 92px, 0px);
  z-index: 3;
  -webkit-filter: blur(0px);
  filter: blur(0px);
  opacity: 0;
}
body.candidate #simulator .activeDecision {
  transform: scale(1) translate3d(20px, 0px, 0px) !important;
  opacity: 1 !important;
  box-shadow: -17px 0px 56px rgba(0, 0, 0, 0.4);
}
body.candidate .screen {
  position: absolute;
  overflow: hidden;
  top: 78px;
  left: 53px;
  width: 298px;
  height: 526px;
  z-index: -1;
}
body.candidate .matches-screen {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  transition: 0.3s ease;
  transform: translate3d(320px, 0px, 0px);
}
body.candidate .matches-screen.active {
  background-color: rgba(0, 0, 0, 0.23);
  transform: translate3d(0px, 0px, 0px);
}
body.candidate .screenwrapper {
  position: absolute;
  width: 100%;
  height: 100%;
  left: 0;
  overflow: hidden;
  display: block;
}
body.candidate .gotmatch {
  width: 100%;
  height: 100%;
  position: relative;
  left: 0;
  transform: scale(1.4);
  opacity: 0;
  transition: 0.3s ease;
  transition-delay: 1s;
}
body.candidate .gotmatch .userpic {
  width: 120px;
  height: 120px;
  border-radius: 150px;
  margin-left: auto;
  margin-right: auto;
  margin-top: 40px;
  background-color: aquamarine;
  background: url('http://static.guim.co.uk/sys-images/Media/Pix/pictures/2013/2/28/1362066190350/Google-co-founder-Sergey--008.jpg');
  background-size: auto 100%;
  background-position: center;
}
body.candidate .gotmatch span {
  width: 100%;
  color: white;
  text-align: center;
  padding-top: 78px;
  display: block;
  font-size: 46px;
}
body.candidate .gotmatch span.name {
  padding-top: 23px;
  font-size: 32px;
}
body.candidate .gotmatch span.title {
  padding-top: 1px;
  font-size: 26px;
  opacity: 0.6;
}
body.candidate .gotmatch span.wants {
  padding-top: 20px;
  font-size: 22px;
  padding-bottom: 60px;
}
body.candidate .gotmatch .button {
  width: 90%;
  height: 60px;
  line-height: 60px;
  text-align: center;
  border-radius: 8px;
  font-size: 23px;
  color: white;
  background-color: rgba(255, 255, 255, 0.44);
  margin: auto;
  margin-bottom: 12px;
  transition: 0.1s ease;
}
body.candidate .gotmatch .button:active {
  transform: scale(0.95);
  background-color: rgba(255, 255, 255, 0.1);
}
body.candidate .gotmatch.active {
  transform: scale(1);
  opacity: 1;
  background-color: rgba(0, 0, 0, 0.78);
}
body.candidate #right {
  position: absolute;
  top: -200px;
  left: 410px;
  height: 3000px;
  width: 1000px;
  z-index: 1000;
  visibility: hidden;
  transform: rotate(-10deg);
}
body.candidate #right .like-icon {
  width: 100px;
  height: 100px;
  border-radius: 60px;
  background-color: green;
  position: absolute;
  top: 327px;
  left: -46px;
  visibility: visible;
  color: white;
  text-align: center;
  line-height: 100px;
  font-size: 30px;
  font-weight: 100;
  box-shadow: 0 5px 7px rgba(0, 0, 0, 0.12);
  z-index: 10;
  transition: 0.3s ease;
  transform: rotate(0deg) scale(0);
  background-image: url("../files/like.svg");
  background-repeat: no-repeat;
  background-size: 35px;
  background-position: center;
}
body.candidate #left {
  position: absolute;
  top: 0;
  left: -570px;
  height: 3000px;
  width: 1000px;
  visibility: hidden;
  z-index: 1000;
  transform: rotate(-10deg);
}
body.candidate #left .dislike-icon {
  width: 100px;
  height: 100px;
  border-radius: 60px;
  background-color: #B42C2F;
  position: absolute;
  top: 300px;
  right: -54px;
  visibility: visible;
  color: white;
  text-align: center;
  line-height: 100px;
  font-size: 30px;
  font-weight: 100;
  box-shadow: 0 5px 7px rgba(0, 0, 0, 0.12);
  z-index: 10;
  transition: 0.3s ease;
  transform: rotate(0deg) scale(0);
  background-image: url("../files/dislike.svg");
  background-repeat: no-repeat;
  background-size: 35px;
  background-position: center;
}
body.candidate #left.dislike .dislike-icon {
  transform: rotate(-10deg) scale(1);
}
body.candidate #right.like .like-icon {
  transform: rotate(-10deg) scale(1);
}
body.candidate .unskew .device {
  opacity: 0;
}
body.candidate .unskew .device-front {
  opacity: 1;
  transform: none;
}
body.candidate .unskew #simulator,
body.candidate .unskew #questions {
  transform: none;
}
body.candidate .unskew .layer1 {
  z-index: 10000;
}
body.candidate .unskew .layer2 {
  transform: scale(0.9) translate3d(0px, 50px, 0px) !important;
}
body.candidate .unskew .layer3 {
  transform: scale(0.8) translate3d(0px, 110px, 0px) !important;
}
body.candidate .unskew .layer4 {
  transform: scale(0.75) translate3d(0px, 150px, 0px) !important;
}
body.candidate .unskew .layer5 {
  transform: scale(0.4) translate3d(-1876px, -647px, 0px) !important;
}
body.candidate .unskew .layer6 {
  transform: scale(0.35) translate3d(-2315px, -821px, 0px) !important;
}
body.candidate .unskew .layer7,
body.candidate .unskew .layer8,
body.candidate .unskew .layer9,
body.candidate .unskew .layer10,
body.candidate .unskew .layer11,
body.candidate .unskew .layer12,
body.candidate .unskew .layer13,
body.candidate .unskew .layer14,
body.candidate .unskew .layer15,
body.candidate .unskew .layer16,
body.candidate .unskew .layer17,
body.candidate .unskew .layer18,
body.candidate .unskew .layer19,
body.candidate .unskew .layer20,
body.candidate .unskew .layer21,
body.candidate .unskew .layer22 {
  transform: scale(0.6) translate3d(-1458px, -463px, 0px) !important;
}
body.candidate .unskew .out {
  transform: scale(0.75) translate3d(0px, 150px, 0px) !important;
  opacity: 0;
}
/* === Media Queries === */
/* ----------- Tablet ----------- */
/* Portrait and Landscape */
@media only screen and (min-width: 0px) and (max-width: 980px) {
  .image {
    justify-content: center;
  }
  .side-wrapper {
    width: auto !important;
  }
  .iphone-cover {
    width: 500px;
    transform: scale(0.6);
  }
  .device-front {
    opacity: 1 !important;
    transform: none !important;
  }
  #simulator.skew {
    transform: none;
  }
  #questions.skew {
    transform: none;
  }
  .device {
    opacity: 0;
  }
  #simulator,
  #questions {
    transform: none;
  }
  .layer1 {
    z-index: 10000;
  }
  .layer2 {
    transform: scale(0.9) translate3d(0px, 50px, 0px) !important;
  }
  .layer3 {
    transform: scale(0.8) translate3d(0px, 110px, 0px) !important;
  }
  .layer4 {
    transform: scale(0.75) translate3d(0px, 150px, 0px) !important;
  }
  .layer5 {
    transform: scale(0.4) translate3d(-1876px, -647px, 0px) !important;
  }
  .layer6 {
    transform: scale(0.35) translate3d(-2315px, -821px, 0px) !important;
  }
  .layer7,
  .layer8,
  .layer9,
  .layer10,
  .layer11,
  .layer12,
  .layer13,
  .layer14,
  .layer15,
  .layer16,
  .layer17,
  .layer18,
  .layer19,
  .layer20,
  .layer21,
  .layer22 {
    transform: scale(0.6) translate3d(-1458px, -463px, 0px) !important;
  }
  .out {
    transform: scale(0.75) translate3d(0px, 150px, 0px) !important;
    opacity: 0;
  }
}
body.feature #feature-cover {
  height: 380px;
  background-image: url("/files/sky-bg.png");
  background-size: cover;
}
body.feature .feature-header {
  display: flex;
  flex-grow: 1;
  justify-content: center;
  transition: 0.3s ease;
  width: 100%;
}
body.feature .feature-header .container {
  justify-content: space-between;
}
body.feature .feature-header h1 {
  transition: 0.3s ease-out;
}
body.feature .feature-header a {
  font-size: 18px;
  display: block;
  padding: 20px 20px 10px 20px;
  position: relative;
  transition: 0.3s ease;
  cursor: pointer;
}
body.feature .feature-header a.prev,
body.feature .feature-header a.next {
  border-right: 1px solid rgba(255, 255, 255, 0.12);
  max-width: 200px;
  text-align: right;
  line-height: 20px;
  letter-spacing: 0.8px;
  font-weight: 200;
}
body.feature .feature-header a.prev:hover,
body.feature .feature-header a.next:hover {
  transform: translate3d(20px, 0px, 0px);
}
body.feature .feature-header a.prev::before,
body.feature .feature-header a.next::before {
  content: "";
  display: block;
  width: 20px;
  height: 20px;
  float: left;
  background-repeat: no-repeat;
  background-position: center;
  opacity: 0.4;
  transform: rotate(180deg);
  background-image: url("/files/icons/arrow-right-white.svg");
}
body.feature .feature-header a.prev::after,
body.feature .feature-header a.next::after {
  content: "Previous";
  font-size: 14px;
  opacity: 0.4;
  position: absolute;
  right: 20px;
  top: 0px;
}
body.feature .feature-header a.next {
  border-left: 1px solid rgba(255, 255, 255, 0.12);
  border-right: none;
  text-align: left;
}
body.feature .feature-header a.next:hover {
  transform: translate3d(-20px, 0px, 0px) scale(1.1);
}
body.feature .feature-header a.next::before {
  float: right;
  transform: rotate(0deg);
}
body.feature .feature-header a.next::after {
  left: 20px;
  right: auto;
}
body.feature .feature-header.feature-header-fixed {
  width: 100%;
  position: fixed;
  background: #353538;
  top: 60px;
  left: 0;
}
body.feature .feature-header.feature-header-fixed .prev,
body.feature .feature-header.feature-header-fixed .next {
  background: rgba(0, 0, 0, 0.08);
  border: none;
}
body.feature .feature-header.feature-header-fixed h1 {
  font-size: 20px;
  font-weight: 400;
}
body.feature .content {
  background: white;
  border-radius: 8px;
  width: 100%;
  height: 100%;
  margin-top: -100px;
}
body.feature .feature-section {
  width: 100%;
  display: flex;
  justify-content: center;
}
body.pricing #pricing-cover {
  height: 400px;
  background-image: url("/files/sky-bg.png");
  background-size: cover;
}
.pricing-section {
  width: 100%;
  height: auto;
}
.pricing-section.tall {
  margin-left: 20px;
  margin-right: 20px;
}
.pricing-card {
  background: white;
  border-radius: 8px;
  width: 100%;
  height: 405px;
  margin-top: -50px;
  box-shadow: 0 7px 9px 0 rgba(0, 0, 0, 0.06);
  border: solid 1px #e4e4e4;
}
.pricing-card.pro {
  margin-top: -100px;
  height: 455px;
}
.feature-list {
  margin-top: 60px;
  margin-bottom: 160px;
  display: flex;
  justify-content: center;
}
ul {
  list-style: none;
  padding: 0 0;
}
ul li {
  padding: 10px 0px;
  color: #2d2d2d;
}
ul li::before {
  content: "";
  display: block;
  width: 30px;
  height: 30px;
  float: left;
  margin-top: -6px;
  margin-right: 18px;
  background-position: center;
  background-repeat: no-repeat;
  background-image: url("/files/icons/check.svg");
}
ul li.line {
  text-decoration: line-through;
  color: grey;
}
ul li.line::before {
  content: "";
  display: block;
  background-image: none;
}
body {
  padding: 0;
  margin: 0;
  font-family: 'PF Din Text Universal W01';
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background: #1a2437;
}
div {
  border: 1px solid aqua;
  box-sizing: content-box;
}
section {
  width: 100%;
  display: flex;
  justify-content: center;
  overflow: hidden;
}
section.white-bg {
  background: white;
}
section.gray-bg {
  background: #EFEFF4;
}
.content-wrapper {
  background: #EFEFF4;
  display: flex;
  justify-content: center;
}
h1 {
  font-weight: 200;
  font-size: 40px;
  letter-spacing: 1.79px;
  line-height: 48px;
  margin: 0.3em 0em;
}
h2 {
  font-weight: 200;
  font-size: 30px;
  letter-spacing: 1.79px;
  line-height: 48px;
  margin: 0.3em 0em;
  max-width: 650px;
}
h3 {
  font-weight: 200;
  font-size: 20px;
  letter-spacing: 1.79px;
  line-height: 48px;
  margin: 0.3em 0em;
}
.sub {
  opacity: 0.5;
}
.white {
  color: white;
}
.center {
  text-align: center;
}
p {
  font-size: 16px;
  margin: 0em;
  max-width: 500px;
}
p.sub {
  opacity: 0.5;
  font-size: 20px;
  letter-spacing: 0.37px;
  line-height: 29px;
  margin-bottom: 2em;
  font-weight: 300;
}
.flex-1 {
  flex-grow: 1;
}
.flex-column {
  flex-direction: column;
}
.flex-row {
  flex-direction: row;
}
.flex-row-reverse {
  flex-direction: row-reverse;
}
.flex-column-reverse {
  flex-direction: column-reverse;
}
.flex-align-center {
  align-items: center;
}
.container {
  width: 980px;
  padding: 0 1em;
  display: flex;
}
.container.image-at-left {
  flex-direction: row-reverse;
}
.container.image-at-left img {
  right: 0;
}
.button {
  color: white;
  font-size: 1.3em;
  padding: 0.5em 1.5em;
  border-radius: 100px;
  text-transform: uppercase;
  display: inline-block;
}
.button.start {
  background: #75C20F;
  font-weight: 500;
}
.links-group {
  display: flex;
  flex-direction: column;
  padding-right: 30px;
}
.links-group h3 {
  font-weight: 200;
}
.links-group a {
  margin-bottom: 20px;
  font-size: 18px;
  color: #119FE0;
  letter-spacing: 0.45px;
  line-height: 15px;
}
.links-group a::before {
  content: "";
  display: block;
  width: 30px;
  height: 30px;
  float: left;
  margin-top: -8px;
  margin-right: 18px;
  opacity: 0.2;
  background-position: center;
  background-repeat: no-repeat;
}
.links-group a::after {
  content: "";
  display: inline-block;
  width: 30px;
  height: 8px;
  opacity: 0.2;
  background-position: center;
  background-repeat: no-repeat;
  background-image: url("/files/icons/arrow-right.svg");
}
.links-group a.icon-source::before {
  background-image: url("/files/icons/sourcing.svg");
}
.side-wrapper {
  height: 100%;
  align-items: center;
  width: 390px;
  display: flex;
}
.image {
  display: flex;
  flex-grow: 1;
  position: relative;
}
.image img {
  position: absolute;
  bottom: 0;
  z-index: 0;
}
/* Employer page only */
body.employer #cover {
  height: 700px;
  background: #1a2437;
}
body.employer #engage {
  height: 720px;
}
body.employer #assesment {
  height: 840px;
  background: white;
}
/* === Media Queries === */
/* ----------- Tablet ----------- */
/* Portrait and Landscape */
@media only screen and (min-width: 0px) and (max-width: 980px) {
  #cover .side-wrapper {
    padding-top: 90px;
  }
  #cover .image {
    right: 0 !important;
  }
  .container,
  .container.image-at-left {
    flex-direction: column;
  }
  .container .image .hero-image {
    height: 100%;
    right: 0;
    left: 0;
    margin: auto;
  }
  .container .side-wrapper {
    width: 100%;
    height: auto;
    align-items: baseline;
    justify-content: center;
    text-align: center;
  }
  .pricing-section.tall {
    margin-left: 0px;
    margin-right: 0px;
  }
}
