include ../../includes/head.jade

body.feature(ng-app='Glider', ng-controller='LSD')

  .main-header.employer.menu-minimized
    include ../../includes/header.jade

  section#feature-cover
      .feature-header.flex-justify-center(scroll id="page" ng-class="{'feature-header-fixed':boolChangeClass}")
        .container
          a.prev.white(href="/features/q-auth/q-auth.html") Question library
          h1.white.center Quiz authoring
          a.next.white(href="/features/m-d-testing/m-d-testing.html") Multi-domain testing
        
      
  .content-wrapper
    .container
      .content
        .feature-section()
          h2.center(style="padding: 70px 30px;") Create your own quiz with ease
    
        .feature-section(style="background: rgba(0,0,0,0.04); height: 450px;")
          .container.image-at-left.features-container
            .side-wrapper
              .side-content
                h2 Quiz authoring
                p.sub Creating your own quiz involves simple drag and drop with a possibility of 40 different question types! Want to try? Just sign up for a free account and see how easy it is to create your own quiz.     
            .image.image-center
              img(src="../../files/features/image.png" style="left: -2em; height: 350px;")
              
        //- .feature-section(style="height: 600px;")
        //-   .container.reverse.features-container
        //-     .side-wrapper
        //-       .side-content
        //-         h2 Mobile friendly job descriptions
        //-         p.sub Want to create job descriptions that look great on a desktop and awesome on the mobile? Do so with  Glider and watch a continuous live preview on a mobile simulator.  
        //-     .image.image-center
        //-       img(src="../../files/features/image.png" style="right: 0; height: 350px;")
      
  section#feature-bottom
    .container
      a.prev.white(href="/features/q-auth/q-auth.html") Question library
      .divider
      a.next.white(href="/features/m-d-testing/m-d-testing.html") Multi-domain testing    
      
include ../../includes/footer.jade
