@ease: cubic-bezier(0.65, 0.01, 0.32, 1);

body.candidate{

  #candidate{
    background-image: url("/files/sky-bg.png");
    background-size: cover;
    background-position: center;
  }

  .skew-toggle{
    display: block;
    background: red;
    position: absolute;
    z-index: 10000;
    cursor: pointer;
  }


  .calculating{
    display: block;
    width: 100%;
  	text-align: center;
    height: 150px;
    position: absolute;
    top: 0px;
    bottom: 0;
    left: -33px;
    right: 0;
    font-size: 40px;
    margin: auto;
    color: white;
    opacity: 0;
    transition: 0.3s ease;
  }

.calculating.active{
  opacity: 1;
}

.calculating.gone{
  opacity: 1;

}

  .container{
    align-items: center;
  }

  .iphone-cover{
    height: 800px;
  	margin-left: 45px;
  	float: left;
  	position: relative;
  	z-index: 2;
  	box-sizing: border-box;
    animation-fill-mode: backwards;
    animation-timing-function: cubic-bezier(0.29, 0.96, 0.5, 1.02);
  }

  .device{
    width: 500px;
    height: 800px;
    position: absolute;
    z-index: 9;
    background: url("/files/cover-phone-bg.png");
    background-size: auto 700px;
    background-position: 42px 36px;
    background-repeat: no-repeat;
    pointer-events: none;
    transition: 1s cubic-bezier(0.65, 0.01, 0.32, 1);
  }

  .device-front{
    width: 581px;
    height: 1002px;
    position: absolute;
    top: -110px;
    left: -63px;
    opacity: 0;
    transition: 1s cubic-bezier(0.65, 0.01, 0.32, 1);
    z-index: 9;
    background: url("/files/iphone-front.png");
    background-size: auto 1031px;
    background-position: 0px 0px;
    background-repeat: no-repeat;
    pointer-events: none;
    transform: perspective(10000px) scale(0.64) rotateX(-4.3deg) rotateY(45.7deg) rotateZ(-13.2deg);
  }

  // .card{
  //   display: none !important;
  // }

  #questions{
    padding-top: 100px;
    width: 427px;
    height: 766px;
    transition: 0.6s 0.2s @ease;
    z-index: 0;
    position: absolute;
    pointer-events: none;

    .question1, .question2{
      position: absolute;
      margin: auto;
      transition: 0.6s @ease;
      padding-left: 40px;
      transform-origin: center;
      display: block;
      pointer-events: all;
    }


    .question2.hidden, .question1.hidden{
      opacity: 0;
      transform: scale(1.3);
      -webkit-filter: blur(5px);
      pointer-events: none;
    }

    .question1.gone{
      opacity: 0;
      transform: scale(0.7);
      -webkit-filter: blur(5px);
      pointer-events: none;
    }

    .question2.gone{
      opacity: 0;
      transform: scale(0.7);
      -webkit-filter: blur(5px);
      pointer-events: none;
    }

    h1{
      font-family: SanFranciscoText-Light;
      padding: 0px 50px;
      font-size: 30px;
      color: #FFFFFF;
      letter-spacing: 0px;
      line-height: 36px;
      text-align: center;
    }

    hr{
      width: 150px;
      height: 1px;
      border: none;
      background: white;
      opacity: 0.1;
      margin-top: 40px;
      margin-bottom: 50px;
    }

    .button{
      width: 340px;
      height: 65px;
      margin: auto;
      color: white;
      text-align: center;
      font-size: 18px;
      line-height: 65px;
      margin-bottom: 12px;
      background: rgba(0,0,0,0.19);
      border-radius: 8px;
      transition: 0.1s ease;
      cursor: pointer;
    }

    .button:active{
      background: white;
      color: black;
      transform: scale(0.98);
    }

  }

  .skew{
    transform: perspective(10000px) scale(0.64) rotateX(-4.3deg) rotateY(45.7deg) rotateZ(-13.2deg);
  }

  #simulator{
    width: 427px;
    height: 766px;
    background: transparent;
    background-size: cover;
    position: absolute;
    box-sizing: border-box;
    transition: 1s @ease;

    img.toolbar{
      width: 100%;
      padding: 1%;
      top: 0;
      position: absolute;
      box-sizing: border-box;
      pointer-events: none;
    }

    img.head{
    	position: absolute;
      width: 100%;
      top: 0;
      pointer-events: none;
    }


    .menu{
      z-index: 1000;

      .back-button{
        position: absolute;
        width: 60px;
        height: 40px;
        background: url('../files/back.svg');
        background-size: 13px;
        background-repeat: no-repeat;
        background-position: center;
        top: 25px;
        right: 150px;
        opacity: 0;
        transition: 0.3s ease;
      }

      .match-button{
        position: absolute;
        width: 60px;
        height: 40px;
        background: url('../files/matches.svg');
        background-size: 30px;
        background-repeat: no-repeat;
        background-position: center;
        top: 25px;
        right: 0;
        transition: 0.3s ease;
      }
    }

    .menu.matches{
      .match-button{
        transform: translate3d(-167px, 0px,0px);
        opacity: 0;
      }

      .back-button{
        opacity: 1;
        transform: translate3d(-150px, 0px, 0px);
      }
    }

    .card{
      width: 100%;
      height: 100%;
      background-size: 88%;
      background-position: center 120px;
      position: absolute;
      background-repeat: no-repeat;
      display: block;
      transition-duration: 0.6s;
      transition-timing-function: cubic-bezier(0.65, 0.01, 0.32, 1);
      opacity: 1;
      cursor: pointer;
      //border: 1px solid green;

      img{
  			width: 350px;
  	    left: 68px;
  	    top: 153px;
        position: absolute;
        transition: 0.3s ease;
        transition-delay: 1s;

      }

     &::before{
        content: 'card';
        position: absolute;
        top: -15px;
        left: 52px;
        font-size: 21px;
        color: white;
        display: none;
     }
    }

    .card.gone-match{
      transform: translate3d(-650px, 0px, 0px);
      transition-duration: 0.5s;
      opacity: 0;

    }

    .intro{background-image: url('../app/screens/1.png'); &::before{content: ''}}
    .job{background-image: url('../files/screens/1.png'); &::before{content: 'Job'}}
    .job2{background-image: url('../files/screens/2.png'); &::before{content: 'Job'}}
    .job3{background-image: url('../files/screens/3.png'); &::before{content: 'Job'}}
  	.job4{background-image: url('../files/screens/4.png'); &::before{content: 'Job'}}
  	.job5{background-image: url('../files/screens/5.png'); &::before{content: 'Job'}}
  	.job6{background-image: url('../files/screens/6.png'); &::before{content: 'Job'}}
  	.job7{background-image: url('../files/screens/7.png'); &::before{content: 'Job'}}
    .article{background-image: url('../app/screens/2.png'); &::before{content: 'Article'}}
    .article2{background-image: url('../app/screens/3.png'); &::before{content: 'Article'}}
    .article3{background-image: url('../app/screens/4.png'); &::before{content: 'Article'}}
    .tweet{background-image: url('../app/screens/5.png'); &::before{content: 'Tweet'}}
    .compoll{background-image: url('../app/screens/6.png'); &::before{content: 'Community poll'}}
    .compoll2{background-image: url('../app/screens/7.png'); &::before{content: 'Community poll'}}
    .video{background-image: url('../app/screens/8.png'); &::before{content: 'Vide'}}
    .video2{background-image: url('../app/screens/9.png'); &::before{content: 'Video'}}
    .salary{background-image: url('../app/screens/10.png'); &::before{content: 'Salary'}}
    .salary2{background-image: url('../app/screens/11.png'); &::before{content: 'Salary'}}
    .tictac{background-image: url('../app/screens/12.png'); &::before{content: 'Salary'}}
    .tictac2{background-image: url('../app/screens/13.png'); &::before{content: 'Tic Tac'}}
    .tictac3{background-image: url('../app/screens/14.png'); &::before{content: 'Tic Tac'}}
    .event{background-image: url('../app/screens/15.png'); &::before{content: 'Event'}}
    .link{background-image: url('../app/screens/16.png'); &::before{content: 'Link'}}
    .git{background-image: url('../app/screens/17.png'); &::before{content: 'Github'}}
    .trends{background-image: url('../app/screens/18.png'); &::before{content: 'Trends'}}
    .question{background-image: url('../app/screens/19.png'); &::before{content: 'Question'}}
    .question2{background-image: url('../app/screens/20.png'); &::before{content: 'Question'}}
    .question3{background-image: url('../app/screens/21.png'); &::before{content: 'Question'}}
    .question4{background-image: url('../app/screens/22.png'); &::before{content: 'Question'}}
    .match{&::before{content: 'Question'}}

    .layer1{
        z-index: 8
    		//-webkit-backdrop-filter: blur(10px);
      }

      .layer2{
        width: 100%;
        transform: scale(0.8) translate3d(-329px, -102px, 0px);
        z-index: 7;
        -webkit-filter: blur(4px);
        filter: blur(2px);
        opacity: 0.5;
        pointer-events: none;
        transition-delay: 0.1s
      }

      .layer3{
        width: 100%;
        transform: scale(0.7) translate3d(-688px, -210px, 0px);
        z-index: 6;
        -webkit-filter: blur(7px);
        filter: blur(7px);
        opacity: 0.2;
        pointer-events: none;
        transition-delay: 0.2s
      }

      .layer4{
        width: 100%;
        transform: scale(0.6) translate3d(-1048px, -319px, 0px);
        z-index: 5;
        -webkit-filter: blur(10px);
        filter: blur(10px);
        opacity: 0.1 ;
        pointer-events: none;
        transition-delay: 0.3s
      }

      .layer5{
        width: 100%;
        transform: scale(0.4) translate3d(-1876px, -647px, 0px);
        z-index: 4;
        -webkit-filter: blur(15px);
        filter: blur(15px);
        opacity: 0.05;
        pointer-events: none;
        transition-delay: 0.4s
      }

      .layer6{
        width: 100%;
        transform: scale(0.35) translate3d(-2315px, -821px, 0px);
        z-index: 3;
        -webkit-filter: blur(15px);
        filter: blur(15px);
        opacity: 0.02;
        pointer-events: none;
        transition-delay: 0.5s
      }

      .layer7, .layer8, .layer9, .layer10, .layer11, .layer12, .layer13, .layer14, .layer15, .layer16, .layer17, .layer18, .layer19, .layer20, .layer21, .layer22{
        width: 100%;
        transform: scale(0.6) translate3d(-1458px, -463px, 0px);
        z-index: 3;
        -webkit-filter: blur(15px);
        filter: blur(15px);
        opacity: 0;
        display: none;
        pointer-events: none;
        transition-delay: 0.7s
      }

      .out{
        transform: scale(0.6) translate3d(-1058px, -463px, 0px);
        opacity: 0;
      }

    .going-left{
      transform: rotate(10deg);
      transition: 0.3s transform;
    }

    .going-right{
      transform: rotate(-10deg);
      transition: 0.3s transform;
    }

    .card.gone-right{
      transform: rotate(-20deg) translate3d(350px, 30px, 0px);
      opacity: 0;
    }

    .card.gone-left{
      transform: rotate(20deg) translate3d(-350px, 30px, 0px);
      opacity: 0;
    }


    .layerLikeDrag{
      width: 100%;
      transform: scale(1) rotate(-5deg) translate3d(100px, 30px, 0px);
      z-index: 3;
      -webkit-filter: blur(0px);
      filter: blur(0px);
      opacity: 0;
    }

    .layerLike{
      width: 100%;
      transform: scale(1) rotate(-15deg) translate3d(500px, 92px, 0px);
      z-index: 3;
      -webkit-filter: blur(0px);
      filter: blur(0px);
      opacity: 0;
    }

    .layerDislike{
      width: 100%;
      transform: scale(1) rotate(15deg) translate3d(-500px, 92px, 0px);
      z-index: 3;
      -webkit-filter: blur(0px);
      filter: blur(0px);
      opacity: 0;
    }


    .activeDecision{
      transform: scale(1) translate3d(20px, 0px, 0px) !important;
      opacity: 1 !important;
      box-shadow: -17px 0px 56px rgba(0, 0, 0, 0.4);
    }
  }

  .screen{
    position: absolute;
    overflow: hidden;
    top: 78px;
    left: 53px;
    width: 298px;
    height: 526px;
    z-index: -1;
  }

  .matches-screen{
    position: absolute;
    top:0;
    left: 0;
    width: 100%;
    height: 100%;
    transition: 0.3s ease;
    transform: translate3d(320px,0px,0px);
  }

  .matches-screen.active{
    background-color: rgba(0, 0, 0, 0.23);
    transform: translate3d(0px,0px,0px);
  }

  .screenwrapper{
    position: absolute;
    width: 100%;
    height: 100%;
    left: 0;
    overflow: hidden;
    display: block;
  }

  .gotmatch{
    width: 100%;
    height: 100%;
    position: relative;
    left: 0;
    transform: scale(1.4);
    opacity: 0;
    transition: 0.3s ease;
    transition-delay: 1s;

    .userpic{
      width: 120px;
      height: 120px;
      border-radius: 150px;
      margin-left: auto;
      margin-right: auto;
      margin-top: 40px;
      background-color: aquamarine;
      background: url('http://static.guim.co.uk/sys-images/Media/Pix/pictures/2013/2/28/1362066190350/Google-co-founder-Sergey--008.jpg');
      background-size: auto 100%;
      background-position: center;
    }

    span{
      width: 100%;
      color: white;
      text-align: center;
      padding-top: 78px;
      display: block;
      font-size: 46px;
    }

    span.name{
      padding-top: 23px;
      font-size: 32px;
    }

    span.title{
      padding-top: 1px;
      font-size: 26px;
      opacity: 0.6;
    }

    span.wants{
      padding-top: 20px;
      font-size: 22px;
      padding-bottom: 60px;
    }

    .button{
      width: 90%;
      height: 60px;
      line-height: 60px;
      text-align: center;
      border-radius: 8px;
      font-size: 23px;
      color: white;
      background-color: rgba(255, 255, 255, 0.44);
      margin: auto;
      margin-bottom: 12px;
      transition: 0.1s ease;
    }

    .button:active{
      transform: scale(0.95);
      background-color: rgba(255, 255, 255, 0.1);
    }
  }

  .gotmatch.active{
    transform: scale(1);
    opacity: 1;
    background-color: rgba(0, 0, 0, 0.78);
  }


    #right{
      position: absolute;
      top: -200px;
      left: 410px;
      height: 3000px;
      width: 1000px;
      z-index: 1000;
      visibility: hidden;
      transform: rotate(-10deg);

    .like-icon{
      width: 100px;
      height: 100px;
      border-radius: 60px;
      background-color: green;
      position: absolute;
      top: 327px;
      left: -46px;
      visibility: visible;
      color: white;
      text-align: center;
      line-height: 100px;
      font-size: 30px;
      font-weight: 100;
      box-shadow: 0 5px 7px rgba(0, 0, 0, 0.12);
      z-index: 10;
      transition: 0.3s ease;
      transform: rotate(0deg) scale(0);
      background-image: url("../files/like.svg");
      background-repeat: no-repeat;
      background-size: 35px;
      background-position: center;
    }
  }


  #left{
    position: absolute;
    top: 0;
    left: -570px;
    height: 3000px;
    width: 1000px;
    visibility: hidden;
    z-index: 1000;
    transform: rotate(-10deg);

    .dislike-icon{
      width: 100px;
      height: 100px;
      border-radius: 60px;
      background-color: #B42C2F;
      position: absolute;
      top: 300px;
      right: -54px;
      visibility: visible;
      color: white;
      text-align: center;
      line-height: 100px;
      font-size: 30px;
      font-weight: 100;
      box-shadow: 0 5px 7px rgba(0, 0, 0, 0.12);
      z-index: 10;
      transition: 0.3s ease;
      transform: rotate(-0deg) scale(0);
      background-image: url("../files/dislike.svg");
      background-repeat: no-repeat;
      background-size: 35px;
      background-position: center;
    }
  }

  #left.dislike .dislike-icon{
    transform: rotate(-10deg) scale(1);
  }
  #right.like .like-icon{
    transform: rotate(-10deg) scale(1);
  }

  .unskew{

      .device{
        opacity: 0;
      }

      .device-front{
        opacity: 1;
        transform: none;
      }

      #simulator, #questions{
        transform: none;
      }

      .layer1{
        z-index: 10000;
    		//-webkit-backdrop-filter: blur(10px);
      }

      .layer2{
        transform: scale(0.9) translate3d(0px, 50px, 0px) !important;
      }

      .layer3{
        transform: scale(0.8) translate3d(0px, 110px, 0px) !important;
      }

      .layer4{
        transform: scale(0.75) translate3d(0px, 150px, 0px) !important;
      }

      .layer5{
        transform: scale(0.4) translate3d(-1876px, -647px, 0px) !important;

      }

      .layer6{
        transform: scale(0.35) translate3d(-2315px, -821px, 0px) !important;
      }

      .layer7, .layer8, .layer9, .layer10, .layer11, .layer12, .layer13, .layer14, .layer15, .layer16, .layer17, .layer18, .layer19, .layer20, .layer21, .layer22{
        transform: scale(0.6) translate3d(-1458px, -463px, 0px) !important;
      }

      .out{
        transform: scale(0.75) translate3d(0px, 150px, 0px) !important;
        opacity: 0;
      }


  }
}

/* === Media Queries === */

/* ----------- Tablet ----------- */
/* Portrait and Landscape */
@media only screen
  and (min-width: 0px)
  and (max-width: 980px){

    #candidate{
      padding-top: 60px;
    }


  .image{
    justify-content: center;
  }

  .side-wrapper{
      width: auto !important;
  }

  .iphone-cover{
    width: 500px;
    transform: scale(0.6);
  }

  .device-front{
    opacity: 1 !important;
    transform: none !important;
  }

  #simulator.skew{
    transform: none;
  }

  #questions.skew{
    transform: none;
  }

  .device{
    opacity: 0;
  }



  #simulator, #questions{
    transform: none;
  }

  .layer1{
    z-index: 10000;
    //-webkit-backdrop-filter: blur(10px);
  }

  .layer2{
    transform: scale(0.9) translate3d(0px, 50px, 0px) !important;
  }

  .layer3{
    transform: scale(0.8) translate3d(0px, 110px, 0px) !important;
  }

  .layer4{
    transform: scale(0.75) translate3d(0px, 150px, 0px) !important;
  }

  .layer5{
    transform: scale(0.4) translate3d(-1876px, -647px, 0px) !important;

  }

  .layer6{
    transform: scale(0.35) translate3d(-2315px, -821px, 0px) !important;
  }

  .layer7, .layer8, .layer9, .layer10, .layer11, .layer12, .layer13, .layer14, .layer15, .layer16, .layer17, .layer18, .layer19, .layer20, .layer21, .layer22{
    transform: scale(0.6) translate3d(-1458px, -463px, 0px) !important;
  }

  .out{
    transform: scale(0.75) translate3d(0px, 150px, 0px) !important;
    opacity: 0;
  }
}
