/* === Media Queries === */


/* Portrait and Landscape */
@media only screen
  and (min-width: 0px)
  and (max-width: 780px){

  #cover{
    .side-wrapper{
      padding-top: 90px;
    }
    .image{
    right: 0 !important;
    }
  }

  .container, .container.image-at-left{
    flex-direction: column !important;
  }

  .container{
    width: auto !important;
    flex-grow: 1 !important;
    .image{

      .hero-image{
        height: 100%;
        right: 0;
        left: 0;
        margin: auto;
      }
    }

    .side-wrapper{
      width: 100%;
      height: auto;
      align-items: baseline;
      justify-content: center;
      text-align: center;
    }
  }

//---- Pricing ----//

body.pricing .card-container{
    flex-direction: column;

    .pricing-section{

      .pricing-card{
        margin-top: 0px;

        &.frst{
          margin-top: -50px;
        }

        &.pro{
          margin-top: 0px;
        }
      }

      .pricing-features{
        margin-top: 20px;

        ul{
          li.line{
            display: none;
          }
        }
      }
    }

    .pricing-section.tall{
      margin-left: 0px;
      margin-right: 0px;

      p{
        margin-bottom: 0px;
      }
    }
  }


.faq-container{

  .faq-top{

    .side-wrapper{
      padding-top: 90px;
      padding-bottom: 90px;

      .side-content{

        .apps{
          justify-content: center;
        }
      }
    }

    .image{
      display: none;
    }

  }

  .faq-bottom{

    .title{
      padding: 2em !important;
      margin-top: 40px !important;
    }

    .wrap-container{
      flex-direction: column !important;
      padding: 0 2em !important;

      .text{
        &.left{
          padding-right: 0px !important;
        }

        &.right{
          padding-left: 0px !important;
        }
      }
    }
  }

}






//       --       //





  #feature-cover{
    .container{
      flex-direction: row !important;
    }

    a.prev, a.next{
      width: 40px;
      padding: 0;
      color: transparent;
      padding-top: 20px;
      max-height: 40px;
    }
    a::after{
      display: none;
    }
  }
}
