@import "header.less";
@import "candidate.less";
@import "feature.less";
@import "pricing.less";
@import "employer.less";
@import "mediaqueries.less";


body{
  padding: 0;
  margin: 0;
  font-family:'PF Din Text Universal W01';
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background: #1a2437;
}

// div{
//   border: 1px solid aqua;
//   box-sizing: content-box;
// }

//Structure elements

section{
  width: 100%;
  display: flex;
  justify-content: center;
  overflow: hidden;

  &.white-bg{
    background: white;
  }

  &.gray-bg{
    background: #EFEFF4;
  }
}

.content-wrapper{
  background: #EFEFF4;
  display: flex;
  justify-content: center;
}

.container{
  width: 980px;
  padding: 0 1em;
  display: flex;

  &.image-at-left{
    flex-direction: row-reverse;

    img{
      right: 0;
    }
  }
}

.flex-1{
  flex-grow: 1;
}

.flex-column{
  flex-direction: column;
}

.flex-row{
  flex-direction: row;
}

.flex-row-reverse{
  flex-direction: row-reverse;
}

.flex-column-reverse{
  flex-direction: column-reverse;
}

.flex-justify-center{
  justify-content: center;
}


//Fonts

h1{
  font-weight: 200;
  font-size: 40px;
  letter-spacing: 1.79px;
  line-height: 48px;
  margin: 0.3em 0em;
}

h2{
  font-weight: 200;
  font-size: 30px;
  letter-spacing: 1.79px;
  line-height: 48px;
  margin: 0.3em 0em;
  max-width: 650px;
}

h3{
  font-weight: 200;
  font-size: 20px;
  letter-spacing: 1.79px;
  line-height: 48px;
  margin: 0.3em 0em;
}

p{
  font-size: 16px;
  margin: 0em;
  max-width: 500px;
}

.sub{
  opacity: 0.5;
  font-size: 20px;
  letter-spacing: 0.37px;
  line-height: 29px;
  margin-bottom: 0em;
  font-weight: 300;
}

.white{
  color: white;
}

.center{
  text-align: center;
}


.button{
  color: white;
  font-size: 1.3em;
  padding: 0.5em 1.5em;
  border-radius: 100px;
  text-transform: uppercase;
  display: inline-block;

  &.start{
    background: #75C20F;
    font-weight: 500;
  }
}

.links-group{
  display: flex;
  flex-direction: column;
  padding-right: 30px;

  h3{
    font-weight: 200;
  }

  a{
    margin-bottom: 20px;
    font-size: 18px;
    color: #119FE0;
    letter-spacing: 0.45px;
    line-height: 15px;

    &::before{
      content: "";
      display: block;
      width: 30px;
      height: 30px;
      float: left;
      margin-top: -8px;
      margin-right: 18px;
      opacity: 0.2;
      background-position: center;
      background-repeat: no-repeat;
    }

    &::after{
      content: "";
      display: inline-block;
      width: 30px;
      height: 8px;
      opacity: 0.2;
      background-position: center;
      background-repeat: no-repeat;
      background-image: url("/files/icons/arrow-right.svg");
    }

  }
  a.icon-source::before{background-image: url("/files/icons/sourcing.svg")}
}



.side-wrapper{
  height: 100%;
  align-items: center;
  width: 390px;
  display: flex;
  }

.image{
  display: flex;
  flex-grow: 1;
  position: relative;

  img{
    position: absolute;
    bottom: 0;
    z-index: 0
  }
}
