
<head>
  <meta charset="UTF-8"/>
  <meta name="viewport" content="width=device-width, initial-scale=1"/>
  <title>Project</title>
  <link rel="stylesheet" href="../../css/style.css"/>
  <script src="http://cdnjs.cloudflare.com/ajax/libs/jquery/2.1.3/jquery.min.js"></script>
  <script src="http://code.jquery.com/ui/1.11.4/jquery-ui.js"></script>
  <script src="js/jquery.ui.touch-punch.min.js"></script>
  <script src="//cdnjs.cloudflare.com/ajax/libs/angular.js/1.5.2/angular.min.js"></script>
  <script src="../../js/simulator.js"></script>
  <script src="../../js/main.js"></script>
  <script type="text/javascript" src="//fast.fonts.net/jsapi/149c8a1a-2b2d-43f1-a389-5a9ea8aa112b.js"></script>
</head>
<body ng-app="Glider" ng-controller="LSD" class="candidate">
  <div scroll="scroll" id="page" ng-class="{'menu-minimized':boolChangeClass}" class="main-header candidate">
    <div ng-class="{'megamenu-active' : MegamenuActive, 'menu-active' : MenuActive}" class="header-wrapper"><a href="/employer" class="logo"><img src="/files/name.svg" class="name"/><img src="/files/logo.svg" class="symbol"/></a>
      <div class="header-links candidate"><a href="/employer">Hiring?</a></div>
      <div class="header-links employer"><a ng-click="activeMegaMenu()" ng-mouseenter="activeMegaMenu()" class="link01 mega-link">Features</a><a href="/Pricing" class="link02">Pricing</a><a href="/" class="link03">For Candidate</a>
        <div class="header-buttons"><a class="button signup link04">Sign up</a><a class="button login link04">Login</a></div>
      </div>
      <div ng-click="activeMenu(); MegamenuActive = false" class="menu-button"></div>
      <div ng-mouseleave="activeMegaMenu()" class="megamenu">
        <div class="container"><a ng-click="activeMegaMenu()" class="back">Back</a>
          <div class="links-group first">
            <h3>Source</h3><a href="/features/inb-recruiting/inb-recrouiting.html">Inbound recruiting</a><a href="/features/outb-recrouiting/outb-recrouiting.html">Outbound recruiting</a><a href="/features/mobile-outreach/mobile-outreach.html">Mobile friendly outreach</a>
          </div>
          <div class="links-group second">
            <h3>Shortlist</h3><a href="/features/parsing/parsing.html">Resume parsing</a><a href="/features/ai-score/ai-score.html">A.I. based scoring</a><a href="/features/workflow/workflow.html">Intelligent workflows</a>
          </div>
          <div class="links-group third">
            <h3>Assess</h3><a href="/features/q-lib/q-lib.html">Question library</a><a href="/features/q-auth/q-auth.html">Quiz authoring</a><a href="/features/m-d-testing/m-d-testing.html">Multi-domain testing</a><a href="/features/auto-g/auto-g.html">Auto grading</a><a href="/features/adaptive-ass/adaptive-ass.html">Adaptive assessments</a><a href="/features/proct/proct.html">Proctoring</a><a href="/features/pl-detect/pl-detect.html">Plagiarism detection</a><a href="/features/ats/ats.html">ATS integration</a>
          </div>
          <div class="links-group forth">
            <h3>Interview</h3><a href="/features/v-interview/v-interview.html">Video interviews</a><a href="/features/scheduling/scheduling.html">Scheduling</a><a href="/features/s-share/s-share.html">Screen and code share</a><a href="/features/social-recr/social-recr.html">Social recruiting</a>
          </div>
        </div>
      </div>
    </div>
  </div>
  <section id="candidate-top">
    <div class="container flex-row-reverse">
      <div class="side-wrapper">
        <div class="side-content">
          <h2 class="white">Glider is an artificial intelligence powered tool to get jobs that you will love</h2>
        </div>
      </div>
      <div class="image">
        <!--.skew-toggle(ng-click="unSkew()") Отпиздяриьт-->
        <div ng-class="{'unskew' : UnSkewed }" class="iphone-cover">
          <div class="device"></div>
          <div class="device-front"></div>
          <div id="right">
            <div class="like-icon"></div>
          </div>
          <div id="left">
            <div class="dislike-icon"></div>
          </div>
          <div id="simulator" class="skew">
            <div class="calculating">Calculating</div><img src="files/toolbar.png" class="toolbar"/><img src="files/header.png" class="head"/>
            <div class="card layer1 job2 out"></div>
            <div class="card layer2 job out"></div>
            <div class="card layer3 job3 out"></div>
            <div class="card layer4 job4 out"></div>
          </div>
          <div id="questions" class="skew">
            <div class="question1 hidden">
              <h1>What size of company do you prefer?</h1>
              <hr/>
              <div class="button">Startup</div>
              <div class="button">Medium </div>
              <div class="button">Corporation</div>
              <div class="button">Doesn't matter</div>
            </div>
            <div class="question2 hidden">
              <h1>Whould move to another city for your new job?</h1>
              <hr/>
              <div class="button">Yes</div>
              <div class="button">No</div>
              <div class="button">I'll consider that</div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
  <section id="candidate-intro">
    <div class="container">
      <h1>Glider is an artificial intelligence powered tool to get jobs that you will love</h1>
    </div>
  </section>
  <section id="candidate-features" style="background: #f5f6f7;">
    <div class="container flex-justify-center flex-row-reverse">
      <div class="iphone"><img src="/files/iphone-front.png"/></div>
      <div class="simulator-steps pad-right"> 
        <div class="step first">
          <h2>Begins with you</h2>
          <p>Answer simple questions about your background, goals and preferences. Glider recommends.</p>
        </div>
        <div class="step second">
          <h2>Begins with you</h2>
          <p>Answer simple questions about your background, goals and preferences. Glider recommends.</p>
        </div>
        <div class="step third">
          <h2>Begins with you</h2>
          <p>Answer simple questions about your background, goals and preferences. Glider recommends.</p>
        </div>
      </div>
    </div>
  </section>
  <section id="candidate-app">
    <div class="container flex-justify-center flex-column">
      <div class="icon"><img src="//res.cloudinary.com/glider/image/upload/glider/logo.svg"/></div>
      <hr/>
      <h1 class="white">Use Glider for Free! Forever.</h1>
      <hr/>
      <div class="app-icons"><a href="https://play.google.com/store/apps/details?id=com.glider" class="android"></a><a class="ios"></a></div>
    </div>
  </section>
  <section id="candidate-employer">
    <div class="container flex-column flex-justify-center">
      <h1 class="white">Looking to hire great talent?</h1>
      <div class="button start">Try Glider for Companies </div>
    </div>
  </section>
</body>