include ../../includes/head.jade

body.feature(ng-app='Glider', ng-controller='LSD')

  .main-header.employer.menu-minimized
    include ../../includes/header.jade

  section#feature-cover
      .feature-header.flex-justify-center(scroll id="page" ng-class="{'feature-header-fixed':boolChangeClass}")
        .container
          a.prev.white(href="/features/ats/ats.html") ATS integration
          h1.white.center Video interviews
          a.next.white(href="/features/scheduling/scheduling.html") Scheduling
        
      
  .content-wrapper
    .container
      .content
        .feature-section()
          h2.center(style="padding: 70px 30px;") Speed up your recruiting with video interviews
    
        .feature-section(style="background: rgba(0,0,0,0.04); height: 450px;")
          .container.image-at-left.features-container
            .side-wrapper
              .side-content
                h2 Video interviews
                p.sub Easily interview candidates with live video interviews. Use live video and chat session on Glider  to make your hiring swift and flexible.    
            .image.image-center
              img(src="../../files/features/image.png" style="left: -2em; height: 350px;")
              
        //- .feature-section(style="height: 600px;")
        //-   .container.reverse.features-container
        //-     .side-wrapper
        //-       .side-content
        //-         h2 Mobile friendly job descriptions
        //-         p.sub Want to create job descriptions that look great on a desktop and awesome on the mobile? Do so with  Glider and watch a continuous live preview on a mobile simulator.  
        //-     .image.image-center
        //-       img(src="../../files/features/image.png" style="right: 0; height: 350px;")
      
  section#feature-bottom
    .container
      a.prev.white(href="/features/ats/ats.html") ATS integration
      .divider
      a.next.white(href="/features/scheduling/scheduling.html") Scheduling    
      
include ../../includes/footer.jade
