include ../../includes/head.jade

body.feature(ng-app='Glider', ng-controller='LSD')

  .main-header.employer.menu-minimized
    include ../../includes/header.jade

  section#feature-cover
      .feature-header.flex-justify-center(scroll id="page" ng-class="{'feature-header-fixed':boolChangeClass}")
        .container
          a.prev.white(href="/features/v-interview/v-interview.html") Video interviews
          h1.white.center Scheduling
          a.next.white(href="/features/s-share/s-share.html") Screen and code share
        
      
  .content-wrapper
    .container
      .content
        .feature-section()
          h2.center(style="padding: 70px 30px;") Set up interviews with ease
    
        .feature-section(style="background: rgba(0,0,0,0.04); height: 450px;")
          .container.image-at-left.features-container
            .side-wrapper
              .side-content
                h2 Scheduling
                p.sub Easily schedule phone, video or face to face interviews between candidates and hing managers with a click of a mouse from Glider itself. Save on the hassle of drafting emails or setting up the conference or dial in details.    
            .image.image-center
              img(src="../../files/features/image.png" style="left: -2em; height: 350px;")
              
        //- .feature-section(style="height: 600px;")
        //-   .container.reverse.features-container
        //-     .side-wrapper
        //-       .side-content
        //-         h2 Mobile friendly job descriptions
        //-         p.sub Want to create job descriptions that look great on a desktop and awesome on the mobile? Do so with  Glider and watch a continuous live preview on a mobile simulator.  
        //-     .image.image-center
        //-       img(src="../../files/features/image.png" style="right: 0; height: 350px;")
      
  section#feature-bottom
    .container
      a.prev.white(href="/features/v-interview/v-interview.html") Video interviews
      .divider
      a.next.white(href="/features/s-share/s-share.html") Screen and code share    
      
include ../../includes/footer.jade
