include ../../includes/head.jade

body.feature(ng-app='Glider', ng-controller='LSD')

  .main-header.employer.menu-minimized
    include ../../includes/header.jade

  section#feature-cover
      .feature-header.flex-justify-center(scroll id="page" ng-class="{'feature-header-fixed':boolChangeClass}")
        .container
          a.prev.white(href="/features/mobile-outreach/mobile-outreach.html") Mobile friendly outreach
          h1.white.center Resume parsing
          a.next.white(href="/features/ai-score/ai-score.html") A.I. based scoring
        
      
  .content-wrapper
    .container
      .content
        .feature-section()
          h2.center(style="padding: 70px 30px;") Let Glider ease your burden of going through thousands of resumes
    
        .feature-section(style="background: rgba(0,0,0,0.04); height: 450px;")
          .container.image-at-left.features-container
            .side-wrapper
              .side-content
                h2 Resume parsing
                p.sub Simply drag and drop a resume onto Glider, and Glider parses the resume and gives you details about the candidate including the name, contact details, education qualifications, work experience and more.   
            .image.image-center
              img(src="../../files/features/image.png" style="left: -2em; height: 350px;")
              
        //- .feature-section(style="height: 600px;")
        //-   .container.reverse.features-container
        //-     .side-wrapper
        //-       .side-content
        //-         h2 Mobile friendly job descriptions
        //-         p.sub Want to create job descriptions that look great on a desktop and awesome on the mobile? Do so with  Glider and watch a continuous live preview on a mobile simulator.  
        //-     .image.image-center
        //-       img(src="../../files/features/image.png" style="right: 0; height: 350px;")
      
  //- section#feature-bottom
  //-   .container
  //-     a.prev.white(href="/features/mobile-outreach/mobile-outreach.html") Mobile friendly outreach
  //-     .divider
  //-     a.next.white(href="/features/ai-score/ai-score.html") A.I. based scoring    
      
include ../../includes/footer.jade
