include ../includes/head.jade

body.pricing(ng-app='Glider', ng-controller='LSD')

  .main-header.menu-minimized.employer
    include ../includes/header.jade

  section#pricing-cover
    .container.flex-justify-center.flex-column
      h1.white.center Everything you need to hire more efficiently 
      
      
  .content-wrapper
    .container.flex-column
      .card-container
        .pricing-section
          .pricing-card
            h2 Standard
            hr
            h2.price Free
            hr
            p Vast assessment, chat and job posting options to start hiring today.
            .button.empty Sign Up
            
          .pricing-features
            ul
              li Unlimited job posts
              li Unlimited candidates
              li Unlimited matched candidates from Glider App*
              li Unlimited team members
              li Candidate engagement metrics
              li Aplication tracking system
              li 20 video, codeshare or screenshare interviews /month
              li Unlimited self-authored assessments
              li 20 question bank
              li Chat and email support
              li.line Coding questions
              li.line Resume scoring
              li.line Advanced question types
              li.line Adaptive assessments
              li.line Assessment proctoring
              li.line SMS capabilities
              li.line Dedicated account manager
        
        .pricing-section.tall
          .pricing-card.pro
            h2 Profefsional
            hr
            h1.price
              | &#36;299
              span &frasl; mo
            hr
            p Advanced assessment and interview options, ai-powered resume scoring and more.
            .button Start Free Trial
            p.cta
              | or 
              a(href='www.paypal.com') upgrade now
              
          p 
            i 60 day trial. No credit card needed.
                
          .pricing-features
            ul
              li Unlimited job posts
              li Unlimited candidates
              li Unlimited matched candidates from Glider App*
              li Unlimited team members
              li Candidate engagement metrics
              li Aplication tracking system
              li 500 video, codeshare or screenshare interviews /month
              li Unlimited self-authored assessments
              li 100 question bank
              li Chat and email support
              li 1000 coding questions
              li Resume scoring
              li.line Advanced question types
              li.line Adaptive assessments
              li.line Assessment proctoring
              li.line SMS capabilities
              li.line Dedicated account manager
        
        .pricing-section
          .pricing-card
            h2 Enterprise
            hr
            h2.price Custom
            hr
            p Proctored assessments, unlimited interviews and dedicated support.
            .button.empty Contact Us
          .pricing-features
            ul
              li Unlimited job posts
              li Unlimited candidates
              li Unlimited matched candidates from Glider App*
              li Unlimited team members
              li Candidate engagement metrics
              li Aplication tracking system
              li 500+ video, codeshare or screenshare interviews /month
              li Unlimited self-authored assessments
              li 100+ question bank
              li Chat and email support
              li 1000+ coding questions
              li Resume scoring
              li Advanced question types
              li Adaptive assessments
              li Assessment proctoring
              li SMS capabilities
              li Dedicated account manager

       .faq-container
       
         .faq-top
           .container.image-at-left
             .side-wrapper
               .side-content
                 h2.white Get candidates through Glider App
                 p.sub.white(style="margin-bottom: 1.5em;") Get free resume scoring and unlimited video/codeshare/screenshare interviews for all candidates sourced from Glider app.  
                 .apps
                   a.android(href='https://play.google.com/store/apps/details?id=com.glider')
                   a.ios
             .image
               img(src="../../files/phones.png" )
          
          .faq-bottom
            .title
              h2 Frequently asked questions
            
            .wrap-container
              .text.left.flex-1
                h3 Is there any fee for candidates hired through Glider app?
                p Glider charges a placement fee that is 4% of the candidate’s first year salary for hired candidates who independently apply for your job from the Glider app.
                br
                h3 What happens after the 60 day trial?
                p You could make a payment and stay on the Professional plan. If we do not get your payment, we will automatically switch you to the Standard plan.
                br
              .text.right.flex-1
                h3 Is there any fee for candidates hired through Glider app?
                p Glider charges a placement fee that is 4% of the candidate’s first year salary for hired candidates who independently apply for your job from the Glider app.
                br
                h3 What happens after the 60 day trial?
                p You could make a payment and stay on the Professional plan. If we do not get your payment, we will automatically switch you to the Standard plan.
                br 
        
include ../includes/footer.jade
                
