
<head>
  <meta charset="UTF-8"/>
  <meta name="viewport" content="width=device-width, initial-scale=1"/>
  <title>Project</title>
  <link rel="stylesheet" href="../../css/style.css"/>
  <script src="http://cdnjs.cloudflare.com/ajax/libs/jquery/2.1.3/jquery.min.js"></script>
  <script src="http://code.jquery.com/ui/1.11.4/jquery-ui.js"></script>
  <script src="js/jquery.ui.touch-punch.min.js"></script>
  <script src="//cdnjs.cloudflare.com/ajax/libs/angular.js/1.5.2/angular.min.js"></script>
  <script src="../../js/simulator.js"></script>
  <script src="../../js/main.js"></script>
  <script type="text/javascript" src="//fast.fonts.net/jsapi/149c8a1a-2b2d-43f1-a389-5a9ea8aa112b.js"></script>
</head>
<body ng-app="Glider" ng-controller="LSD" class="pricing">
  <div class="main-header menu-minimized employer">
    <div ng-class="{'megamenu-active' : MegamenuActive, 'menu-active' : MenuActive}" class="header-wrapper"><a href="/employer" class="logo"><img src="/files/name.svg" class="name"/><img src="/files/logo.svg" class="symbol"/></a>
      <div class="header-links candidate"><a href="/employer">Hiring?</a></div>
      <div class="header-links employer"><a ng-click="activeMegaMenu()" ng-mouseenter="activeMegaMenu()" class="link01 mega-link">Features</a><a href="/Pricing" class="link02">Pricing</a><a href="/" class="link03">For Candidate</a>
        <div class="header-buttons"><a class="button signup link04">Sign up</a><a class="button login link04">Login</a></div>
      </div>
      <div ng-click="activeMenu(); MegamenuActive = false" class="menu-button"></div>
      <div ng-mouseleave="activeMegaMenu()" class="megamenu">
        <div class="container"><a ng-click="activeMegaMenu()" class="back">Back</a>
          <div class="links-group first">
            <h3>Sourcing</h3><a href="/features/assesments/live-assesment.html">Inbound recruiting</a><a href="/features/assesments/live-assesment.html">Outbound recruiting</a><a href="/features/assesments/live-assesment.html">Mobile friendly outreach</a>
          </div>
          <div class="links-group second">
            <h3>Evaluation</h3><a href="/features/assesments/live-assesment.html">Resume parsing</a><a href="/features/assesments/live-assesment.html">A.I. based scoring</a><a href="/features/assesments/live-assesment.html">Intelligent workflows</a>
          </div>
          <div class="links-group third">
            <h3>Assessments</h3><a href="/features/assesments/live-assesment.html">Question library</a><a href="/features/assesments/live-assesment.html">Quiz authoring</a><a href="/features/assesments/live-assesment.html">Multi-domain testing</a><a href="/features/assesments/live-assesment.html">Auto grading</a><a href="/features/assesments/live-assesment.html">Adaptive assessments</a><a href="/features/assesments/live-assesment.html">Proctoring</a><a href="/features/assesments/live-assesment.html">Plagiarism detection</a><a href="/features/assesments/live-assesment.html">ATS integration</a>
          </div>
          <div class="links-group forth">
            <h3>Interview</h3><a href="/features/assesments/live-assesment.html">Video interviews</a><a href="/features/assesments/live-assesment.html">Scheduling</a><a href="/features/assesments/live-assesment.html">Screen and code share</a><a href="/features/assesments/live-assesment.html">Social recruiting</a>
          </div>
        </div>
      </div>
    </div>
  </div>
  <section id="pricing-cover">
    <div class="container flex-justify-center flex-column">
      <h1 class="white center">Everything you need to hire more efficiently </h1>
    </div>
  </section>
  <div class="content-wrapper">
    <div class="container flex-column">
      <div class="card-container">
        <div class="pricing-section">
          <div class="pricing-card frst">
            <h2>Standard</h2>
            <hr/>
            <h2 class="price">Free</h2>
            <hr/>
            <p>Vast assessment, chat and job posting options to start hiring today.</p>
            <div class="button empty">Sign Up</div>
          </div>
          <div class="pricing-features">
            <ul>
              <li>Unlimited job posts</li>
              <li>Unlimited candidates</li>
              <li>Unlimited matched candidates from Glider App*</li>
              <li>Unlimited team members</li>
              <li>Candidate engagement metrics</li>
              <li>Aplication tracking system</li>
              <li>20 video, codeshare or screenshare interviews /month</li>
              <li>Unlimited self-authored assessments</li>
              <li>20 question bank</li>
              <li>Chat and email support</li>
              <li class="line">Coding questions</li>
              <li class="line">Resume scoring</li>
              <li class="line">Advanced question types</li>
              <li class="line">Adaptive assessments</li>
              <li class="line">Assessment proctoring</li>
              <li class="line">SMS capabilities</li>
              <li class="line">Dedicated account manager</li>
            </ul>
          </div>
        </div>
        <div class="pricing-section tall">
          <div class="pricing-card pro">
            <h2>Profefsional</h2>
            <hr/>
            <h1 class="price">&#36;299<span>&frasl; mo</span></h1>
            <hr/>
            <p>Advanced assessment and interview options, ai-powered resume scoring and more.</p>
            <div class="button">Start Free Trial</div>
            <p class="cta">or <a href="www.paypal.com">upgrade now</a></p>
          </div>
          <p> <i>60 day trial. No credit card needed.</i></p>
          <div class="pricing-features">
            <ul>
              <li>Unlimited job posts</li>
              <li>Unlimited candidates</li>
              <li>Unlimited matched candidates from Glider App*</li>
              <li>Unlimited team members</li>
              <li>Candidate engagement metrics</li>
              <li>Aplication tracking system</li>
              <li>500 video, codeshare or screenshare interviews /month</li>
              <li>Unlimited self-authored assessments</li>
              <li>100 question bank</li>
              <li>Chat and email support</li>
              <li>1000 coding questions</li>
              <li>Resume scoring</li>
              <li class="line">Advanced question types</li>
              <li class="line">Adaptive assessments</li>
              <li class="line">Assessment proctoring</li>
              <li class="line">SMS capabilities</li>
              <li class="line">Dedicated account manager</li>
            </ul>
          </div>
        </div>
        <div class="pricing-section">
          <div class="pricing-card">
            <h2>Enterprise</h2>
            <hr/>
            <h2 class="price">Custom</h2>
            <hr/>
            <p>Proctored assessments, unlimited interviews and dedicated support.</p>
            <div class="button empty">Contact Us</div>
          </div>
          <div class="pricing-features">
            <ul>
              <li>Unlimited job posts</li>
              <li>Unlimited candidates</li>
              <li>Unlimited matched candidates from Glider App*</li>
              <li>Unlimited team members</li>
              <li>Candidate engagement metrics</li>
              <li>Aplication tracking system</li>
              <li>500+ video, codeshare or screenshare interviews /month</li>
              <li>Unlimited self-authored assessments</li>
              <li>100+ question bank</li>
              <li>Chat and email support</li>
              <li>1000+ coding questions</li>
              <li>Resume scoring</li>
              <li>Advanced question types</li>
              <li>Adaptive assessments</li>
              <li>Assessment proctoring</li>
              <li>SMS capabilities</li>
              <li>Dedicated account manager</li>
            </ul>
          </div>
        </div>
      </div>
      <div class="faq-container">
        <div class="faq-top">
          <div class="container image-at-left">
            <div class="side-wrapper">
              <div class="side-content">
                <h2 class="white">Get candidates through Glider App</h2>
                <p style="margin-bottom: 1.5em;" class="sub white">Get free resume scoring and unlimited video/codeshare/screenshare interviews for all candidates sourced from Glider app.  </p>
                <div class="apps"><a href="https://play.google.com/store/apps/details?id=com.glider" class="android"></a><a class="ios"></a></div>
              </div>
            </div>
            <div class="image"><img src="../../files/phones.png"/></div>
          </div>
        </div>
        <div class="faq-bottom">
          <div class="title">
            <h2>Frequently asked questions</h2>
          </div>
          <div class="wrap-container">
            <div class="text left flex-1">
              <h3>Is there any fee for candidates hired through Glider app?</h3>
              <p>Glider charges a placement fee that is 4% of the candidate’s first year salary for hired candidates who independently apply for your job from the Glider app.</p><br/>
              <h3>What happens after the 60 day trial?</h3>
              <p>You could make a payment and stay on the Professional plan. If we do not get your payment, we will automatically switch you to the Standard plan.</p><br/>
            </div>
            <div class="text right flex-1">
              <h3>Is there any fee for candidates hired through Glider app?</h3>
              <p>Glider charges a placement fee that is 4% of the candidate’s first year salary for hired candidates who independently apply for your job from the Glider app.</p><br/>
              <h3>What happens after the 60 day trial?</h3>
              <p>You could make a payment and stay on the Professional plan. If we do not get your payment, we will automatically switch you to the Standard plan.</p><br/>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</body>
<div class="footer-wrapper">
  <div class="container flex-column">
    <div class="footer-top flex-1"><a href="/employer" class="logo"><img src="/files/name.svg" class="name"/><img src="/files/logo.svg" class="symbol"/></a>
      <h2 class="white">Best hiring solution for your business.</h2>
      <div class="button start">Start For Free</div><span>
         
        or <a href="/pricing">see pro options</a></span>
    </div>
    <div class="footer-links">   
      <div class="links">
        <div class="footer-features">
          <div class="first-column">
            <div class="title">
              <p>FEATURES</p>
            </div>
            <div class="list">
              <ul>
                <li><a href="/features/assesments/live-assesment.html">Inbound recruiting</a></li>
                <li> <a href="/features/assesments/live-assesment.html">Outbound recruiting</a></li>
                <li><a href="/features/assesments/live-assesment.html">Mobile friendly outreach</a></li>
              </ul>
            </div>
          </div>
          <div class="second-column">
            <div class="title"></div>
            <div class="list">
              <ul>
                <li><a href="/features/assesments/live-assesment.html">Resume parsing</a></li>
                <li> <a href="/features/assesments/live-assesment.html">Artificial intelligence based scoring</a></li>
                <li><a href="/features/assesments/live-assesment.html">Intelligent workflows</a></li>
              </ul>
            </div>
          </div>
          <div class="third-column">
            <div class="title"></div>
            <div class="list">
              <ul>
                <li><a href="/features/assesments/live-assesment.html">Question library</a></li>
                <li> <a href="/features/assesments/live-assesment.html">Initation system</a></li>
                <li><a href="/features/assesments/live-assesment.html">Adaptive assessments</a></li>
              </ul>
            </div>
          </div>
        </div>
        <div class="footer-company">
          <div class="company-info">
            <div class="title">
              <p>COMPANY</p>
            </div>
            <div class="list"> 
              <ul>
                <li><a href="/features/assesments/live-assesment.html">Web-platforms sourcing</a></li>
                <li> <a href="/features/assesments/live-assesment.html">Initation system</a></li>
                <li><a href="/features/assesments/live-assesment.html">Auto grading</a></li>
              </ul>
            </div>
          </div>
          <div class="company-legal">
            <div class="title">
              <p>SUPPORT</p>
            </div>
            <div class="list">
              <ul>
                <li><a href="/features/assesments/live-assesment.html">Web-platforms sourcing</a></li>
                <li> <a href="/features/assesments/live-assesment.html">Initation system</a></li>
                <li><a href="/features/assesments/live-assesment.html">Branding</a></li>
              </ul>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="copy"> 
      <p class="flex-1">©2016  Glider Inc.</p>
      <div class="social flex-1"><a href="/features/assesments/live-assesment.html" class="fb"></a><a href="/features/assesments/live-assesment.html" class="in"></a><a href="/features/assesments/live-assesment.html" class="tw"></a></div>
    </div>
  </div>
</div>