include ../includes/head.jade

body.pricing

  .main-header.menu-minimized(ng-app='Glider', ng-controller='header')
    include ../includes/header.jade

  section#pricing-cover
    .container
      .feature-header.flex-align-center
        h1.white.center Live Assesment
      
      
  .content-wrapper
    .container
      .pricing-card.stand
      .pricing-card.pro
      .pricing-card.enterp
        
        
