include ../includes/head.jade

body.pricing(ng-app='Glider', ng-controller='LSD')

  .main-header.menu-minimized.employer
    include ../includes/header.jade

  section#pricing-cover
    .container
      .feature-header.flex-align-center
        h1.white.center Live Assesment
      
      
  .content-wrapper
    .container.flex-column
      .card-container
        .pricing-section.flex-1
          .pricing-card
          .feature-list
            ul
              li Unlimited job posts
              li Unlimited candidates
              li Unlimited matched candidates from Glider App*
              li Unlimited team members
              li Candidate engagement metrics
              li Aplication tracking system
              li 20 video, codeshare or screenshare interviews /month
              li Unlimited self-authored assessments
              li 20 question bank
              li Chat and email support
              li.line Coding questions
              li.line Resume scoring
              li.line Advanced question types
              li.line Adaptive assessments
              li.line Assessment proctoring
              li.line SMS capabilities
              li.line Dedicated account manager
        
        .pricing-section.flex-1.tall
          .pricing-card.pro
          .feature-list
            ul
              li Unlimited job posts
              li Unlimited candidates
              li Unlimited matched candidates from Glider App*
              li Unlimited team members
              li Candidate engagement metrics
              li Aplication tracking system
              li 500 video, codeshare or screenshare interviews /month
              li Unlimited self-authored assessments
              li 100 question bank
              li Chat and email support
              li 1000 coding questions
              li Resume scoring
              li.line Advanced question types
              li.line Adaptive assessments
              li.line Assessment proctoring
              li.line SMS capabilities
              li.line Dedicated account manager
        
        .pricing-section.flex-1
          .pricing-card
          .feature-list
            ul
              li Unlimited job posts
              li Unlimited candidates
              li Unlimited matched candidates from Glider App*
              li Unlimited team members
              li Candidate engagement metrics
              li Aplication tracking system
              li 500+ video, codeshare or screenshare interviews /month
              li Unlimited self-authored assessments
              li 100+ question bank
              li Chat and email support
              li 1000+ coding questions
              li Resume scoring
              li Advanced question types
              li Adaptive assessments
              li Assessment proctoring
              li SMS capabilities
              li Dedicated account manager

       .faq-container      
          h1 jfkdfl
                
