.footer-wrapper
  .container.flex-column
    .footer-top.flex-1
      a.logo(href="/employer")
        img.name(src="/files/name.svg")
        img.symbol(src="/files/logo.svg")
      h2.white Best hiring solution for your business.
      .button.start Start For Free
      span 
        | or 
        a(href="/pricing") see pro options
    .footer-links    
      .links
      
        .footer-features
          .first-column
            .title
              p FEATURES
            .list
              ul
                li
                  a(href="/features/assesments/live-assesment.html") Inbound recruiting
                li  
                  a(href="/features/assesments/live-assesment.html") Outbound recruiting
                li
                  a(href="/features/assesments/live-assesment.html") Mobile friendly outreach
              
          .second-column
            .title
            .list
              ul
                li
                  a(href="/features/assesments/live-assesment.html") Resume parsing
                li  
                  a(href="/features/assesments/live-assesment.html") Artificial intelligence based scoring
                li
                  a(href="/features/assesments/live-assesment.html") Intelligent workflows
              
          .third-column
            .title
            .list
              ul
                li
                  a(href="/features/assesments/live-assesment.html") Question library
                li  
                  a(href="/features/assesments/live-assesment.html") Initation system
                li
                  a(href="/features/assesments/live-assesment.html") Adaptive assessments
            
        .footer-company
          .company-info
            .title
              p COMPANY
            .list  
              ul
                li
                  a(href="/features/assesments/live-assesment.html") Web-platforms sourcing
                li  
                  a(href="/features/assesments/live-assesment.html") Initation system
                li
                  a(href="/features/assesments/live-assesment.html") Auto grading
            
          .company-legal
            .title
              p SUPPORT
            .list
              ul
                li
                  a(href="/features/assesments/live-assesment.html") Web-platforms sourcing
                li  
                  a(href="/features/assesments/live-assesment.html") Initation system
                li
                  a(href="/features/assesments/live-assesment.html") Branding
      
    .copy  
      p.flex-1 ©2016  Glider Inc.
      .social.flex-1
        a.fb(href="/features/assesments/live-assesment.html")
        a.in(href="/features/assesments/live-assesment.html")
        a.tw(href="/features/assesments/live-assesment.html")
