.header-wrapper(ng-class="{'megamenu-active' : MegamenuActive, 'menu-active' : MenuActive}")
  a.logo(href="/employer")
    img.name(src="/files/name.svg")
    img.symbol(src="/files/logo.svg")
  
  .header-links.candidate
    a(href="/employer") Hiring?
  
  .header-links.employer
    a.link01.mega-link(ng-click="activeMegaMenu()" ng-mouseenter="activeMegaMenu()") Features
    a.link02(href="/Pricing") Pricing
    a.link03(href="/") For Candidate
    .header-buttons
      a.button.signup.link04 Sign up
      a.button.login.link04 Login
  .menu-button(ng-click="activeMenu(); MegamenuActive = false")

  .megamenu(ng-mouseleave="activeMegaMenu()")
    .container
      a.back(ng-click="activeMegaMenu()") Back
      .links-group.first
        h3 Source
        a(href="/features/inb-recruiting/inb-recrouiting.html") Inbound recruiting
        a(href="/features/outb-recrouiting/outb-recrouiting.html") Outbound recruiting
        a(href="/features/mobile-outreach/mobile-outreach.html") Mobile friendly outreach

      .links-group.second
        h3 Shortlist
        a(href="/features/parsing/parsing.html") Resume parsing
        a(href="/features/ai-score/ai-score.html") A.I. based scoring
        a(href="/features/workflow/workflow.html") Intelligent workflows

      .links-group.third
        h3 Assess
        a(href="/features/q-lib/q-lib.html") Question library
        a(href="/features/q-auth/q-auth.html") Quiz authoring
        a(href="/features/m-d-testing/m-d-testing.html") Multi-domain testing
        a(href="/features/auto-g/auto-g.html") Auto grading
        a(href="/features/adaptive-ass/adaptive-ass.html") Adaptive assessments
        a(href="/features/proct/proct.html") Proctoring
        a(href="/features/pl-detect/pl-detect.html") Plagiarism detection
        a(href="/features/ats/ats.html") ATS integration
        
        
      .links-group.forth
        h3 Interview
        a(href="/features/v-interview/v-interview.html") Video interviews
        a(href="/features/scheduling/scheduling.html") Scheduling
        a(href="/features/s-share/s-share.html") Screen and code share
        a(href="/features/social-recr/social-recr.html") Social recruiting
