head
  meta(charset='UTF-8')
  meta(name='viewport', content='width=device-width, initial-scale=1')
  title Project
  link(rel='stylesheet', href='../../css/style.css')
  script(src='//cdnjs.cloudflare.com/ajax/libs/angular.js/1.5.2/angular.min.js')
  script(src='../../js/main.js')
  script(type='text/javascript', src='//fast.fonts.net/jsapi/149c8a1a-2b2d-43f1-a389-5a9ea8aa112b.js')
