.header-wrapper(ng-class="{'megamenu-active' : MegamenuActive, 'menu-active' : MenuActive}")
  a.logo(href="/employer")
    img.name(src="/files/name.svg")
    img.symbol(src="/files/logo.svg")
  
  .header-links.candidate
    a(href="/employer") Hiring?
  
  .header-links.employer
    a.link01.mega-link(ng-click="activeMegaMenu()" ng-mouseenter="activeMegaMenu()") Features
    a.link02(href="/Pricing") Pricing
    a.link03(href="/") For Candidate
    .header-buttons
      a.button.signup.link04 Sign up
      a.button.login.link04 Login
  .menu-button(ng-click="activeMenu(); MegamenuActive = false")

  .megamenu(ng-mouseleave="activeMegaMenu()")
    .container
      a.back(ng-click="activeMegaMenu()") Back
      .links-group.first
        h3 Source
        a(href="/features/assesments/live-assesment.html") Inbound recruiting
        a(href="/features/assesments/live-assesment.html") Outbound recruiting
        a(href="/features/assesments/live-assesment.html") Mobile friendly outreach

      .links-group.second
        h3 Shortlist
        a(href="/features/assesments/live-assesment.html") Resume parsing
        a(href="/features/assesments/live-assesment.html") A.I. based scoring
        a(href="/features/assesments/live-assesment.html") Intelligent workflows

      .links-group.third
        h3 Assess
        a(href="/features/assesments/live-assesment.html") Question library
        a(href="/features/assesments/live-assesment.html") Quiz authoring
        a(href="/features/assesments/live-assesment.html") Multi-domain testing
        a(href="/features/assesments/live-assesment.html") Auto grading
        a(href="/features/assesments/live-assesment.html") Adaptive assessments
        a(href="/features/assesments/live-assesment.html") Proctoring
        a(href="/features/assesments/live-assesment.html") Plagiarism detection
        a(href="/features/assesments/live-assesment.html") ATS integration
        
        
      .links-group.forth
        h3 Interview
        a(href="/features/assesments/live-assesment.html") Video interviews
        a(href="/features/assesments/live-assesment.html") Scheduling
        a(href="/features/assesments/live-assesment.html") Screen and code share
        a(href="/features/assesments/live-assesment.html") Social recruiting
