.header-wrapper(ng-class="{'megamenu-active' : MegamenuActive, 'menu-active' : MenuActive}")
  a.logo(href="/employer")
    img.name(src="/files/name.svg")
    img.symbol(src="/files/logo.svg")
  
  .header-links.candidate
    a(href="/employer") Hiring?
  
  .header-links.employer
    a.link01.mega-link(ng-click="activeMegaMenu()" ng-mouseenter="activeMegaMenu()") Features
    a.link02(href="/Pricing") Pricing
    a.link03(href="/") For Candidate
    .header-buttons
      a.button.signup.link04 Sign up
      a.button.login.link04 Login
  .menu-button(ng-click="activeMenu(); MegamenuActive = false")

  .megamenu(ng-mouseleave="activeMegaMenu()")
    .container
      a.back(ng-click="activeMegaMenu()") Back
      .links-group.first
        h3 Engagement
        a(href="/features/assesments/live-assesment.html") Web-platforms sourcing
        a(href="/features/assesments/live-assesment.html") Initation system
        a(href="/features/assesments/live-assesment.html") Branding

      .links-group.second
        h3 Evaluation
        a(href="/features/assesments/live-assesment.html") Ai Pre-evaluation
        a(href="/features/assesments/live-assesment.html") Assesments
        a(href="/includes/footer.html") Online Interview

      .links-group.third
        h3 Management
        a(href="/features/assesments/live-assesment.html") Stages-based system
        a(href="/features/assesments/live-assesment.html") Team management
        a(href="/features/assesments/live-assesment.html") Interview Calendar
