include ../../includes/head.jade

body.feature(ng-app='Glider', ng-controller='LSD')

  .main-header.employer.menu-minimized
    include ../../includes/header.jade

  section#feature-cover
      .feature-header.flex-justify-center(scroll id="page" ng-class="{'feature-header-fixed':boolChangeClass}")
        .container
          a.prev.white(href="/features/q-auth/q-auth.html") Quiz authoring
          h1.white.center Multi-domain testing
          a.next.white(href="/features/auto-g/auto-g.html") Auto grading
        
      
  .content-wrapper
    .container
      .content
        .feature-section()
          h2.center(style="padding: 70px 30px;") Gliders lets you test almost anything
    
        .feature-section(style="background: rgba(0,0,0,0.04); height: 450px;")
          .container.image-at-left.features-container
            .side-wrapper
              .side-content
                h2 Multi-domain testing
                p.sub Most organizations are an amalgam of people with diverse skills- such as software programming, electrical or mechanical engineering; accounting, technical and content writing. Glider gives you the power and flexibility to test people in a whole range of professions with aptitude, programming, psychometric tests and your own custom tests.    
            .image.image-center
              img(src="../../files/features/image.png" style="left: -2em; height: 350px;")
              
        //- .feature-section(style="height: 600px;")
        //-   .container.reverse.features-container
        //-     .side-wrapper
        //-       .side-content
        //-         h2 Mobile friendly job descriptions
        //-         p.sub Want to create job descriptions that look great on a desktop and awesome on the mobile? Do so with  Glider and watch a continuous live preview on a mobile simulator.  
        //-     .image.image-center
        //-       img(src="../../files/features/image.png" style="right: 0; height: 350px;")
      
  section#feature-bottom
    .container
      a.prev.white(href="/features/q-auth/q-auth.html") Quiz authoring
      .divider
      a.next.white(href="/features/auto-g/auto-g.html") Auto grading    
      
include ../../includes/footer.jade
