include ../includes/head.jade

body.employer(ng-app='Glider' ng-controller='LSD')

    .main-header.employer(scroll id="page" ng-class="{'menu-minimized':boolChangeClass}")
      include ../includes/header.jade    
      
    section#cover
      .container.image-at-left
        .side-wrapper
          .side-content
            h3.white.sub Glider for Hiring
            h1.white Know your candidate
            p.sub.white We’re using machine learining, Live interview and Assesment library to evaluate candidate and blablabla
            a.button.start Start for Free
        
        .image(style="right: -170px;")
          img.hero-image(src="/files/developer.png")
          
    section#intro.white-bg
      .container.flex-column
        h1.center Glider is a world-first A.I. based hiring system
        .values-container
          .value.first
            .value-img
              img(src="/files/placeholder5.png")
            h2 A.I. based
            p.sub Worlds-first artifitial inteligence driven hiring platform
          .value.second
            .value-img
              img(src="/files/placeholder6.png")
            h2 Easy to use
            p.sub Worlds-first artifitial inteligence driven hiring platform
          .value.third
            .value-img
              img(src="/files/placeholder7.png")
            h2 No resumes
            p.sub Worlds-first artifitial inteligence driven hiring platform
    
    section#banner2
      .container  
          h1.white Hire people your company deserves
                      
    section#source.gray-bg
      .container.reverse
        .side-wrapper
          .side-content
            h1 Comprehensive sourcing 
            p.sub Glider adapts your sourcing to websites your candidates visit. Accept online applications from your website, upload resumes you receive from job boards and get access to exclusive pool of Glider candidates.
            
            .links-group
              a.icon-source(href="/features/inb-recruiting/inb-recrouiting.html") Inbound recruiting
              a.icon-source Outbound recruiting
              a.icon-source Mobile friendly outreach
        
        .image.image-center
          img(src="/files/placeholder2.png" style="width: 650px;")
            
      
    section#shortlist.white-bg
      .container.image-at-left
        .side-wrapper
          .side-content
            h1 Get the best of a kind
            p.sub Glider’s artificial intelligence engine assigns a match score to each resume by comparing the candidate’s skills, competencies and work experience  with your needs. You can now easily shortlist some of the candidates and personalize the subsequent hiring process for the chosen ones.
            
            .links-group
              a.icon-source Resume parsing
              a.icon-source A.I. based scoring
              a.icon-source Intelligent workflows
        
        .image.image-center
          img(src="/files/placeholder1.png" style="width: 690px;")
          
    //- section#banner
    //-   .container  
    //-       h1.white Hire people your company deserves.        
          
    section#assess.gray-bg
      .container.reverse
        .side-wrapper
          .side-content
            h1 Powerful evaluation tools
            p.sub Screen candidates with the world’s most powerful assessment toolkit. Author a simple quiz or an unimaginably complex assessment or just use one of the free question banks.
            
            .links-group
              a.icon-source Question library
              a.icon-source Quiz authoring
              a.icon-source Multi-domain testing
              a.icon-source Auto grading
              a.icon-source Adaptive assessments
              a.icon-source Proctoring
              a.icon-source Plagiarism detection
              a.icon-source ATS integration
        
        .image.image-center
          img(src="/files/assesment.png" style="width: 1050px;")
          
         
    
    section#interview.white-bg
      .container.image-at-left
        .side-wrapper
          .side-content
            h1 Seamles inteviews 
            p.sub Conduct simple video interviews, chat with candidates and let your entire team collaborate on the hiring process.
            
            .links-group
              a.icon-source Video interviews
              a.icon-source Scheduling
              a.icon-source Screen and code share
              a.icon-source Social recruiting 
        
        .image
          img(src="/files/placeholder3.png" style="width: 550px;")  
          
          
          
    
      

include ../includes/footer.jade      
