
<head>
  <meta charset="UTF-8"/>
  <meta name="viewport" content="width=device-width, initial-scale=1"/>
  <title>Project</title>
  <link rel="stylesheet" href="../../css/style.css"/>
  <script src="http://cdnjs.cloudflare.com/ajax/libs/jquery/2.1.3/jquery.min.js"></script>
  <script src="http://code.jquery.com/ui/1.11.4/jquery-ui.js"></script>
  <script src="js/jquery.ui.touch-punch.min.js"></script>
  <script src="//cdnjs.cloudflare.com/ajax/libs/angular.js/1.5.2/angular.min.js"></script>
  <script src="../../js/simulator.js"></script>
  <script src="../../js/main.js"></script>
  <script type="text/javascript" src="//fast.fonts.net/jsapi/149c8a1a-2b2d-43f1-a389-5a9ea8aa112b.js"></script>
</head>
<body ng-app="Glider" ng-controller="LSD" class="employer">
  <div scroll="scroll" id="page" ng-class="{'menu-minimized':boolChangeClass}" class="main-header employer">
    <div ng-class="{'megamenu-active' : MegamenuActive, 'menu-active' : MenuActive}" class="header-wrapper"><a href="/employer" class="logo"><img src="/files/name.svg" class="name"/><img src="/files/logo.svg" class="symbol"/></a>
      <div class="header-links candidate"><a href="/employer">Hiring?</a></div>
      <div class="header-links employer"><a ng-click="activeMegaMenu()" ng-mouseenter="activeMegaMenu()" class="link01 mega-link">Features</a><a href="/Pricing" class="link02">Pricing</a><a href="/" class="link03">For Candidate</a>
        <div class="header-buttons"><a class="button signup link04">Sign up</a><a class="button login link04">Login</a></div>
      </div>
      <div ng-click="activeMenu(); MegamenuActive = false" class="menu-button"></div>
      <div ng-mouseleave="activeMegaMenu()" class="megamenu">
        <div class="container"><a ng-click="activeMegaMenu()" class="back">Back</a>
          <div class="links-group first">
            <h3>Source</h3><a href="/features/inb-recruiting/inb-recrouiting.html">Inbound recruiting</a><a href="/features/assesments/live-assesment.html">Outbound recruiting</a><a href="/features/assesments/live-assesment.html">Mobile friendly outreach</a>
          </div>
          <div class="links-group second">
            <h3>Shortlist</h3><a href="/features/assesments/live-assesment.html">Resume parsing</a><a href="/features/assesments/live-assesment.html">A.I. based scoring</a><a href="/features/assesments/live-assesment.html">Intelligent workflows</a>
          </div>
          <div class="links-group third">
            <h3>Assess</h3><a href="/features/assesments/live-assesment.html">Question library</a><a href="/features/assesments/live-assesment.html">Quiz authoring</a><a href="/features/assesments/live-assesment.html">Multi-domain testing</a><a href="/features/assesments/live-assesment.html">Auto grading</a><a href="/features/assesments/live-assesment.html">Adaptive assessments</a><a href="/features/assesments/live-assesment.html">Proctoring</a><a href="/features/assesments/live-assesment.html">Plagiarism detection</a><a href="/features/assesments/live-assesment.html">ATS integration</a>
          </div>
          <div class="links-group forth">
            <h3>Interview</h3><a href="/features/assesments/live-assesment.html">Video interviews</a><a href="/features/assesments/live-assesment.html">Scheduling</a><a href="/features/assesments/live-assesment.html">Screen and code share</a><a href="/features/assesments/live-assesment.html">Social recruiting</a>
          </div>
        </div>
      </div>
    </div>
  </div>
  <section id="cover">
    <div class="container image-at-left">
      <div class="side-wrapper">
        <div class="side-content">
          <h3 class="white sub">Glider for Hiring</h3>
          <h1 class="white">Know your candidate</h1>
          <p class="sub white">We’re using machine learining, Live interview and Assesment library to evaluate candidate and blablabla</p><a class="button start">Start for Free</a>
        </div>
      </div>
      <div style="right: -170px;" class="image"><img src="/files/developer.png" class="hero-image"/></div>
    </div>
  </section>
  <section id="intro" class="white-bg">
    <div class="container flex-column">
      <h1 class="center">Glider is a world-first A.I. based hiring system</h1>
      <div class="values-container">
        <div class="value first">
          <div class="value-img"><img src="/files/placeholder5.png"/></div>
          <h2>A.I. based</h2>
          <p class="sub">Worlds-first artifitial inteligence driven hiring platform</p>
        </div>
        <div class="value second">
          <div class="value-img"><img src="/files/placeholder6.png"/></div>
          <h2>Easy to use</h2>
          <p class="sub">Worlds-first artifitial inteligence driven hiring platform</p>
        </div>
        <div class="value third">
          <div class="value-img"><img src="/files/placeholder7.png"/></div>
          <h2>No resumes</h2>
          <p class="sub">Worlds-first artifitial inteligence driven hiring platform</p>
        </div>
      </div>
    </div>
  </section>
  <section id="banner2">
    <div class="container"> 
      <h1 class="white">Hire people your company deserves</h1>
    </div>
  </section>
  <section id="source" class="gray-bg">
    <div class="container reverse">
      <div class="side-wrapper">
        <div class="side-content">
          <h1>Comprehensive sourcing </h1>
          <p class="sub">Glider adapts your sourcing to websites your candidates visit. Accept online applications from your website, upload resumes you receive from job boards and get access to exclusive pool of Glider candidates.</p>
          <div class="links-group"><a href="/features/inb-recruiting/inb-recrouiting.html" class="icon-source">Inbound recruiting</a><a class="icon-source">Outbound recruiting</a><a class="icon-source">Mobile friendly outreach</a></div>
        </div>
      </div>
      <div class="image image-center"><img src="/files/placeholder2.png" style="width: 650px;"/></div>
    </div>
  </section>
  <section id="shortlist" class="white-bg">
    <div class="container image-at-left">
      <div class="side-wrapper">
        <div class="side-content">
          <h1>Get the best of a kind</h1>
          <p class="sub">Glider’s artificial intelligence engine assigns a match score to each resume by comparing the candidate’s skills, competencies and work experience  with your needs. You can now easily shortlist some of the candidates and personalize the subsequent hiring process for the chosen ones.</p>
          <div class="links-group"><a class="icon-source">Resume parsing</a><a class="icon-source">A.I. based scoring</a><a class="icon-source">Intelligent workflows</a></div>
        </div>
      </div>
      <div class="image image-center"><img src="/files/placeholder1.png" style="width: 690px;"/></div>
    </div>
  </section>
  <section id="assess" class="gray-bg">
    <div class="container reverse">
      <div class="side-wrapper">
        <div class="side-content">
          <h1>Powerful evaluation tools</h1>
          <p class="sub">Screen candidates with the world’s most powerful assessment toolkit. Author a simple quiz or an unimaginably complex assessment or just use one of the free question banks.</p>
          <div class="links-group"><a class="icon-source">Question library</a><a class="icon-source">Quiz authoring</a><a class="icon-source">Multi-domain testing</a><a class="icon-source">Auto grading</a><a class="icon-source">Adaptive assessments</a><a class="icon-source">Proctoring</a><a class="icon-source">Plagiarism detection</a><a class="icon-source">ATS integration</a></div>
        </div>
      </div>
      <div class="image image-center"><img src="/files/assesment.png" style="width: 1050px;"/></div>
    </div>
  </section>
  <section id="interview" class="white-bg">
    <div class="container image-at-left">
      <div class="side-wrapper">
        <div class="side-content">
          <h1>Seamles inteviews </h1>
          <p class="sub">Conduct simple video interviews, chat with candidates and let your entire team collaborate on the hiring process.</p>
          <div class="links-group"><a class="icon-source">Video interviews</a><a class="icon-source">Scheduling</a><a class="icon-source">Screen and code share</a><a class="icon-source">Social recruiting </a></div>
        </div>
      </div>
      <div class="image"><img src="/files/placeholder3.png" style="width: 550px;"/></div>
    </div>
  </section>
</body>
<div class="footer-wrapper">
  <div class="container flex-column">
    <div class="footer-top flex-1"><a href="/employer" class="logo"><img src="/files/name.svg" class="name"/><img src="/files/logo.svg" class="symbol"/></a>
      <h2 class="white">Best hiring solution for your business.</h2>
      <div class="button start">Start For Free</div><span>
         
        or <a href="/pricing">see pro options</a></span>
    </div>
    <div class="footer-links">   
      <div class="links">
        <div class="footer-features">
          <div class="first-column">
            <div class="title">
              <p>FEATURES</p>
            </div>
            <div class="list">
              <ul>
                <li><a href="/features/assesments/live-assesment.html">Inbound recruiting</a></li>
                <li> <a href="/features/assesments/live-assesment.html">Outbound recruiting</a></li>
                <li><a href="/features/assesments/live-assesment.html">Mobile friendly outreach</a></li>
              </ul>
            </div>
          </div>
          <div class="second-column">
            <div class="title"></div>
            <div class="list">
              <ul>
                <li><a href="/features/assesments/live-assesment.html">Resume parsing</a></li>
                <li> <a href="/features/assesments/live-assesment.html">Artificial intelligence based scoring</a></li>
                <li><a href="/features/assesments/live-assesment.html">Intelligent workflows</a></li>
              </ul>
            </div>
          </div>
          <div class="third-column">
            <div class="title"></div>
            <div class="list">
              <ul>
                <li><a href="/features/assesments/live-assesment.html">Question library</a></li>
                <li> <a href="/features/assesments/live-assesment.html">Initation system</a></li>
                <li><a href="/features/assesments/live-assesment.html">Adaptive assessments</a></li>
              </ul>
            </div>
          </div>
        </div>
        <div class="footer-company">
          <div class="company-info">
            <div class="title">
              <p>COMPANY</p>
            </div>
            <div class="list"> 
              <ul>
                <li><a href="/features/assesments/live-assesment.html">Web-platforms sourcing</a></li>
                <li> <a href="/features/assesments/live-assesment.html">Initation system</a></li>
                <li><a href="/features/assesments/live-assesment.html">Auto grading</a></li>
              </ul>
            </div>
          </div>
          <div class="company-legal">
            <div class="title">
              <p>SUPPORT</p>
            </div>
            <div class="list">
              <ul>
                <li><a href="/features/assesments/live-assesment.html">Web-platforms sourcing</a></li>
                <li> <a href="/features/assesments/live-assesment.html">Initation system</a></li>
                <li><a href="/features/assesments/live-assesment.html">Branding</a></li>
              </ul>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="copy"> 
      <p class="flex-1">©2016  Glider Inc.</p>
      <div class="social flex-1"><a href="/features/assesments/live-assesment.html" class="fb"></a><a href="/features/assesments/live-assesment.html" class="in"></a><a href="/features/assesments/live-assesment.html" class="tw"></a></div>
    </div>
  </div>
</div>